
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="">
            <div class="d-flex justify-content-between container-fluid bg-b-theme" id="navbar_top">
                <a class="d-flex navbar-brand justify-content-center" routerLink="" id="logo-title">
                    <img src=".../../assets/img/MIT_logo.png" alt="" class="logo"> 
                    <p class="nav-title">Myanmar Institute of Theology</p>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid">
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="align-items-center navbar-nav pr-1 mb-0 w-100 d-flex justify-content-end">
                            <li class="nav-item active p-1 px-2 h-100 d-flex align-items-center">
                              <a class="nav-link" routerLink="/about-mit" >About MIT</a>
                            </li>
                            <img src=".../../assets/img/Vector.png" class="vector" alt="">
                            <li class="nav-item p-1 px-2 d-flex align-items-center">
                              <a class="nav-link" routerLink="/program">Programs</a>
                            </li>
                            <img src=".../../assets/img/Vector.png" class="vector" alt="">
                            <li class="nav-item p-1 px-2 d-flex align-items-center">
                                <a class="nav-link" routerLink="/department">Department<br>Information</a>
                            </li>
                            <img src=".../../assets/img/Vector.png" class="vector" alt="">
                            <li class="nav-item p-1 px-2 d-flex align-items-center">
                                <a class="nav-link" routerLink="/how-to-apply" >How To Apply</a>
                            </li>
                            <img src=".../../assets/img/Vector.png" class="vector" alt="">
                            <li class="nav-item p-1 px-2 d-flex align-items-center">
                                <a class="nav-link" routerLink="/student-life">Student Life</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>


