<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <span>
                    <h3 class="info-1">Contact <br>Information</h3>
                    <p class="content-1">How to get in touch with us.</p>
                </span>
            </div>
            <div class="col-sm-2 info-align">
                <span>
                    <h5 class="info-2">Phone Number</h5>
                    <p class="content-2">(09)------</p>
                </span>
            </div>
            <div class="col-sm-2 info-align">
                <span>
                    <h5 class="info-2">Email Address</h5>
                    <p class="content-2">---@gmail.com</p>
                </span>
            </div>
            <div class="col-sm-3 info-align">
                <span>
                    <h5 class="info-2">Mailing Address</h5>
                    <p class="content-2">12,------</p>
                </span>
            </div>
        </div>
    </div>
    <div class="container p">
        <div class="row">
            <div class="col-sm-5">
                <span>
                    <span class="info-2">Maintained by </span> <span class="content-3">Developer TEAM</span>
                </span>
            </div>
            <div class="col-sm-2">
                <span>
                <a href="#" id="link" class="info-2">Meet the Developer Team</a>
                </span>
            </div>
            <div class="col-sm-2">
                <span>
                    <a href="#" id="link" class="info-2">Design<br>References</a>
                </span>
            </div>
            <div class="col-sm-3">
                <span>
                    <a href="#" id="link" class="info-2">Resources and <br>Additional Information</a>
                </span>
            </div>
        </div>
    </div>
    <div class="copyR">
        &copy; 2022 <span class="decorate"></span> Myanmar Institute of Theology <span class="decorate"></span> All rights reserved
    </div>
</footer>