<footer>
    <div class="container-fluid">
        <div class="d-flex">
            <div class="col-md-4 pe-5">
                <div class="d-flex justify-content-center">
                    <div class="">
                        <span>
                            <h3 class="info-1 fw-7">Contact <br>Information</h3>
                            <p class="content-1">How to get in touch with us.</p>
                        </span>
                        <div class="d-flex mt-5">
                            <span class="info-2 fw-7">Maintained By </span> 
                            <div class="ms-2">
                                <span class="content-3 font-ai">Developer <br>TEAM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <div class="me-6 mb-4 pb-1">
                        <div class="d-flex justify-content-end">
                            <div class="d-flex justify-content-around w-50">
                                <a href="https://www.facebook.com/MyanmarInstituteofTheology" target="_blank"><button class="bg-none border-0"><img id="logo" src="../../assets/img/Social Media Logo/facebook.png" alt=""></button></a>
                                <a href="" target="_blank"><button class="bg-none border-0"><img id="logo" src="../../assets/img/Social Media Logo/Youtube.png" alt=""></button></a>
                                <a href="" target="_blank"><button class="bg-none border-0"><img id="logo" src="../../assets/img/Social Media Logo/Viber.png" alt=""></button></a>
                                <a href="" target="_blank"><button class="bg-none border-0"><img id="logo" src="../../assets/img/Social Media Logo/Telegram.png" alt=""></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-md-3">
                        <div class="">
                            <span>
                                <h5 class="info-2">Phone Number</h5>
                                <p class="content-2 font-ai">(09)------</p>
                            </span>
                        </div>
                        <div class="mt-6">
                            <a href="#" id="link" class="info-2">Meet the <br>Developer <br>Team</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <span>
                                <h5 class="info-2">Email Address</h5>
                                <p class="content-2 font-ai">---@gmail.com</p>
                            </span>
                        </div>
                        <div class="mt-6">
                            <span>
                                <a href="#" id="link" class="info-2">Design<br>References</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <span>
                                <h5 class="info-2">Mailing Address</h5>
                                <p class="content-2 font-ai">12,------</p>
                            </span>
                        </div>
                        <div class="mt-6">
                            <span>
                                <a href="#" id="link" class="info-2">Resources and <br>Additional Information</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyR mt-5">
        &copy; 2022 <img class="mx-2" id="straightLine" src="../../assets/img/Straight Line.png" alt=""> <span class="decorate"></span> Myanmar Institute of Theology <img class="mx-2" id="straightLine" src="../../assets/img/Straight Line.png" alt=""><span class="decorate"></span> All rights reserved
    </div>
</footer>