<div class="head_img">
     <div class="text_box">MIT Student Program</div>
</div>

<hr class="p-0 m-0">
<section>
     <div class="container-xl py-2">
          <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
               <div class="col-sm-5">
                    <div class="img1"></div>

               </div>

               <div class="col-sm-5">
                    <div class="head_title">Myanmar Institute of Theology Programs
                    </div>
                    <p>Theology and Liberal Arts Programs are considered equally important for the churches and society
                         in Myanmar. Theology program produced thousands of competent church leaders, Pastors,
                         theological educators, and academic theologians while the liberal arts program produced
                         skillful professionals, organizational workers, and competent experts in different fields of
                         study interest.
                         Our Great vision is to promote the best theological and liberal arts education here in Myanmar,
                         and to upgrade the high level of MIT’s leading roles and its premiership in Myanmar and in
                         Asia.
                    </p>
               </div>
          </div>
     </div>
</section>

<hr class="p-0 m-0">
<section>
     <div class="container-xl py-2">
          <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
               <div class="col-sm-5">
                    <div class="head_title">Theology Programs</div>
                    <p>The Ministerial Studies Programs were launched - Doctor of Philosophy (PhD) Program, Doctor of
                         Ministry (D.Min) Program, Master of Theology (M.Th) Program, Master of Divinity (M.Div)
                         Program, Master of Theological Librarianship (M.TL) Program and Master of Arts in Christian
                         Studies (MACS) Program.
                         Our Great vision is to promote the best theological and liberal arts education here in Myanmar,
                         and to upgrade the high level of MIT's leading roles and its premiership in Myanmar and in
                         Asia.
                    </p>
                    <br>
                    <a href="#">Details go there</a>
               </div>
               <div class="col-sm-5">

                    <div class="img2"></div>

               </div>
          </div>
     </div>
</section>

<hr class="p-0 m-0">
<section>
     <div class="container-xl py-2">
          <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
               <div class="col-sm-5">

                         <div class="col">
                              <div class="img3"></div>
                              <div class="row">
                                   <div class="img_s_container">
                                        <div class="img5"></div>
                                   </div>
                                   <div class="img_s_container">
                                        <div class="img6"></div>
                                   </div>
                              </div>
                         </div>

               </div>
               <div class="col-sm-5">
                    <div class="head_title">Liberal Arts Programs</div>
                    <p>
                         MIT's Liberal Arts Program today is running one Bachelor degree program, one post-graduate
                         diploma, and four Master degree programs, namely Bachelor of Arts/Science in major fields of
                         studies; Post-graduate Diploma in Community Development; Master of Arts in Community
                         Development (MACD), Master of Arts in Peace Studies (MAPS), Master of Arts in Interfaith
                         Dialogue (MAID) and Master of Arts in Gender Studies (MAGS).
                    </p>
                    <br>
                    <a routerLink=".../lap/bachelor">Details go there</a>
               </div>

          </div>
     </div>
</section>

<div class="blue_tab">
<hr class="p-0 m-0">
<section>
     <div class="container-xl py-2">
          <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
               <div class="col-sm-5">
                    <div class="head_title1">
                         The key to one of MIT Objectives
                    </div>
                    <div class="pp">
                         To provide a contextually and globally relevant higher education for Myanmar people and to
                         make it nationally and internationally recognized Christian University in Myanmar and
                         Asia.
                    </div>
               </div>
               <div class="col-sm-5">

                         <div class="img4"></div>

               </div>
          </div>
     </div>
</section>
</div>

<div class="container">
     <div class="col-sm-12">
          <div class="head_title">Programs for Students 
          </div>
     </div>
     <div class="row">
               <div class="col-sm-4">
                    <div class="img7"></div>
                    <div class="title">English Training Course</div>
                         <p>There is just enough space here for several lines of text. Make sure you get your
                              message across clearly yet concisely.
                         </p>
                         <a href="#">  
                              <div class="buton">
                                   Explore
                              </div>
                         </a>
               </div>
               <div class="col-sm-4">
                    <div class="img8"></div>
                    <div class="title">Internship</div>
                    <p>There is just enough space here for several lines of text. Make sure you get your
                         message across clearly yet concisely.
                    </p>
                    <a href="#">
                         <div class="buton">
                              Explore
                         </div>
                    </a>
                    
               </div>
               <div class="col-sm-4">
                    <div class="img9"></div>
                    <div class="title">Other Programs</div>
                         <p>There is just enough space here for several lines of text. Make sure you get your
                              message across clearly yet concisely.
                         </p>
                    <a href="#">  
                         <div class="buton">
                              Explore
                         </div>
                    </a>
                    </div>
               </div>

     </div>



<div class="foot_img"></div>