<div class="body">
    <section id="showcase" class="d-flex align-items-end">
        <div id="textbox" class="container text-white text-center">
            <h2 id="headTitle" class="mb-0">Contact Us</h2>
        </div>
    </section>
    <hr class="p-0 m-0">
    <section>
        <div class="container-xl py-2 pt-5">
            <div class="container-fluid">
                <h1 class="mb-0 text-header text-theme">We are Here to Help</h1>
                <p class="mb-0 f-17 mt-3 text-align-justify font-bc f-25">
                    You can contact Myanmar Institute of Theology in a number of ways – we’re always happy to answer your questions about fees, entry requirements, studying in school, Academic courses or degrees at Myanmar Institute of Theology.
                </p>
            </div>
        </div>
        <div class="container-xl py-2">
            <div class="d-flex container-fluid py-5 justify-content-between align-items-center">
                <div class="col-md-6 ms-3">
                    <h1 class="mb-0 text-header text-theme">Phone Us</h1>
                    <h3 class="font-bc f-30 mb-3 mt-4 fw-7 text-theme">MIT Office</h3>
                    <p class="font-bc mb-0 f-22 mt-3 text-align-justify">Phone – 01641338</p>
                    <h3 class="font-bc f-30 my-3 fw-7 text-theme">Liberal Arts Program Office (LAP Office)</h3>
                    <p class="font-bc  mb-0 f-22 mt-3 text-align-justify">Office hours – 10:00am to 5:00pm (Every Tuesday)
                        <br>Phone – 09782729320, 09441684406</p>
                    <h1 class="mb-0 text-header text-theme mt-5">Visit Us on Campus</h1>
                    <p class="font-bc  mb-0 f-22 mt-3 text-align-justify">Myanmar Institute of Theology, 
                        <br>Seminary Hill, Insein 11011, Yangon, <br>Myanmar</p>
                </div>
                <div class="col-md-5">
                    <div id="applyImageBox"><img id="applyImage" width="550" height="480" src=".../../assets/img/contact-us/7.png" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-xl my-2">
            <div class="d-flex container-fluid my-5 justify-content-around align-items-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15271.641730007288!2d96.1125122549558!3d16.880324696302043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe3efa88fd36b2b30!2sMyanmar%20Institute%20of%20Theology!5e0!3m2!1sen!2smm!4v1669089362934!5m2!1sen!2smm" width="900" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="d-flex container-fluid mb-5 align-items-center justify-content-center">
                <div class="">
                    <h1 class="mb-0 text-header text-theme mt-3">Current students, alumni or other enquiries</h1>
                <p class="font-bc  mb-0 f-22 mt-3 text-align-justify">Email: administration@mit.edu.mm or Phone our campus office on Office : +95-1-641388</p>
                </div>
            </div>
        </div>
    </section>
    <hr class="p-0 m-0">
    <section id="bottomShowCase" class="d-flex align-items-end">
    </section>
</div>