<div class="d-flex justify-content-center align-items-center theme-border">
    <div class="container-fluid mx-5 mt-4">
        <h3 class="font-bc text-header text-theme">Music Major</h3>
        <p class="font-bc f-20 td-5 text-align-justify">Music department are trying to equip and promote the students to be skillful musicians and share their knowledge to the community and churches. Music Major offers the following subjects.</p>
        <h3 class="font-bc text-header text-theme mt-5">The Following Subjects are Available in English Major</h3>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Second Year of Music</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Music Theory I</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is the root of all subjects in Music. It gives knowledge of music theory fundamentals, musical terms, symbols, pitch, rhythm techniques, key signatures, intervals, and triad chords. It also gives opportunities for the students to understand how to compose and perform.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Sight Singing I</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is also a part of music theory. It introduce the students how to read and sing. By hearing the students will improve in listening skill. It helps the students a lot when they play the instruments and sight read in choral singing.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Piano I</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">It is a six semester course composing one unit every week. A piano course in every semester involves performances and practices of the students under the instruction of their respective teachers. It is a practical subject including playing pieces from different musical periods, scales and techniques. At the end of each semester, students must perform at a recital. The lesson and the level of difficulty may be varied for each student according to their acquired knowledge of the subject and their ability.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Music History I</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is imperative to have an awareness of the historical development of music as well as knowledge of the broad scope of music in its relationship to the cultural periods, techniques and forms for the biographical details of some great composers. It help the students to understand and appreciate the music through reading and listening to the tapes and watching music concert DVD.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Music Theory II</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is the root of all subjects in Music. It gives knowledge of music theory fundamentals, musical terms, symbols, pitch, rhythm techniques, key signatures, intervals, and triad chords. It also gives opportunities for the students to understand how to compose and perform.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Sight Singing II</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is also a part of music theory. It introduce the students how to read and sing. By hearing the students will improve in listening skill. It helps the students a lot when they play the instruments and sight read in choral singing.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">07 : Piano II</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">It is a six semester course composing one unit every week. A piano course in every semester involves performances and practices of the students under the instruction of their respective teachers. It is a practical subject including playing pieces from different musical periods, scales and techniques. At the end of each semester, students must perform at a recital. The lesson and the level of difficulty may be varied for each student according to their acquired knowledge of the subject and their ability.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">08 : Music History II</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is imperative to have an awareness of the historical development of music as well as knowledge of the broad scope of music in its relationship to the cultural periods, techniques and forms for the biographical details of some great composers. It help the students to understand and appreciate the music through reading and listening to the tapes and watching music concert DVD.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Third Year of Music</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Music Theory III</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is the root of all subjects in Music. It gives knowledge of music theory fundamentals, musical terms, symbols, pitch, rhythm techniques, key signatures, intervals, and triad chords. It also gives opportunities for the students to understand how to compose and perform.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Sight Singing III</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is also a part of music theory. It introduce the students how to read and sing. By hearing the students will improve in listening skill. It helps the students a lot when they play the instruments and sight read in choral singing.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Piano III</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">It is a six semester course composing one unit every week. A piano course in every semester involves performances and practices of the students under the instruction of their respective teachers. It is a practical subject including playing pieces from different musical periods, scales and techniques. At the end of each semester, students must perform at a recital. The lesson and the level of difficulty may be varied for each student according to their acquired knowledge of the subject and their ability.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : String Instrument I</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <div class="font-bc f-20  px-5 py-3 m-0 text-align-justify">
                    <b>Violin</b><br>
                    <p class="font-bc td-5">This course introduces the students how to hold the instrument in the proper way. It also includes the techniques, lessons, scales, the history of the instrument, video showing, surveying the legendary performer's life and works.</p><br>
                    <b>Guitar</b><br>
                    <p class="font-bc td-5">This course gives the students in techniques, scales, lessons and varied songs depending on the students' level. It also will give the knowledge for the students by doing assignments and watching the guitar concert DVD.</p>
                </div>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Voice I</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is a two semester composing with voice principles and the techniques of the vocal. This course is designed for the beginning voice students to work on the basic skills of singing, including the vocal technique and solo performance. Aspects of posture, relaxation, breathing, diction and vocalizing will be addressed.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Piano IV</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">It is a six semester course composing one unit every week. A piano course in every semester involves performances and practices of the students under the instruction of their respective teachers. It is a practical subject including playing pieces from different musical periods, scales and techniques. At the end of each semester, students must perform at a recital. The lesson and the level of difficulty may be varied for each student according to their acquired knowledge of the subject and their ability.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">07 : String Instrument II</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <div class="font-bc f-20  px-5 py-3 m-0 text-align-justify">
                    <b>Violin</b><br>
                    <p class="font-bc td-5">This course introduces the students how to hold the instrument in the proper way. It also includes the techniques, lessons, scales, the history of the instrument, video showing, surveying the legendary performer's life and works.</p><br>
                    <b>Guitar</b><br>
                    <p class="font-bc td-5">This course gives the students in techniques, scales, lessons and varied songs depending on the students' level. It also will give the knowledge for the students by doing assignments and watching the guitar concert DVD.</p>
                </div>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">08 : Voice II</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is a two semester composing with voice principles and the techniques of the vocal. This course is designed for the beginning voice students to work on the basic skills of singing, including the vocal technique and solo performance. Aspects of posture, relaxation, breathing, diction and vocalizing will be addressed.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">09 : Music Theory IV</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is the root of all subjects in Music. It gives knowledge of music theory fundamentals, musical terms, symbols, pitch, rhythm techniques, key signatures, intervals, and triad chords. It also gives opportunities for the students to understand how to compose and perform.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Fourth Year of Music</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Piano V</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">It is a six semester course composing one unit every week. A piano course in every semester involves performances and practices of the students under the instruction of their respective teachers. It is a practical subject including playing pieces from different musical periods, scales and techniques. At the end of each semester, students must perform at a recital. The lesson and the level of difficulty may be varied for each student according to their acquired knowledge of the subject and their ability.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Choral Conducting I</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course involves studies and development of skills in basic choral conducting. The students will gain knowledge and experiences in conducting posture, patterns, gestures, learn methods for managing choral rehearsal and cultivate choral listening skills.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Fine Arts</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This survey course examines the interaction between the artist, audience, and the work of art in a study focused on appreciation of art forms from various historical time periods and culture impacting western society, such as drama both in theater and film, visual arts, music and architecture and dance.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Asian Music</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20  px-5 py-3 m-0 text-align-justify">This course introduces the students to the musical output of the old and older world of South, Middle-East and Southeast Asia. This general survey of the music from the different Asian countries shall explore the varied musical expressions of the people of Asia as representation of their culture. This shall be examined in historical, social and cultural contexts, analyzing their socio-anthropological implications and their influences, the esthetics of music in relation to culture, politics and society.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Choral Ensemble</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course helps the students in getting experiences in singing as a group. They will learn different styles of choir pieces such as A cappella, gospel songs, and other works that suitable for the chamber choir. At the same time, the students will learn how to lead the choir effectively.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Piano VI</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">It is a six semester course composing one unit every week. A piano course in every semester involves performances and practices of the students under the instruction of their respective teachers. It is a practical subject including playing pieces from different musical periods, scales and techniques. At the end of each semester, students must perform at a recital. The lesson and the level of difficulty may be varied for each student according to their acquired knowledge of the subject and their ability.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">07 : Choral Conducting II</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course involves studies and development of skills in basic choral conducting. The students will gain knowledge and experiences in conducting posture, patterns, gestures, learn methods for managing choral rehearsal and cultivate choral listening skills.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">08 : Instrumental Conducting</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is a two semester composing with voice principles and the techniques of the vocal. This course is designed for the beginning voice students to work on the basic skills of singing, including the vocal technique and solo performance. Aspects of posture, relaxation, breathing, diction and vocalizing will be addressed.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">09 : Music Worship</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course will explore the nature and function of music and worship in biblical, historical, and contemporary contexts. It includes the congregational singing, the role of worship leader, hymnody and worship music together with their practical implication. All these are focused on creating music for worship, leading choir and congregation, and animating worship services.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">09 : Music Software</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is design for students to know how to write the music or copy the music sheet with computer. It includes notation writing, inserting musical symbols, signs, dynamic marking, tempo marking and editing the music sheet and musical sound.</p>
            </div>
        </details>     
        <br><br>
    </div>
</div>