<div class="head_img">
    <div class="text_box">Department Informations</div>
</div>

<section>
<div class="container-xl py-2">
    <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
        <div class="col-sm-5">
            <table align="left" cellspacing="10">
                <tr>
                    <td><div class="s_img1"></div></td>
                    <td><div class="s_img2"></div></td>
                </tr>
                <tr>
                    <td><div class="s_img3"></div></td>
                    <td><div class="s_img4"></div></td>
                </tr>
            </table>

        </div>
        <div class="col-sm-5">
            <div class="head_title">Academic Department</div>
            <p>In Myanmar Institute of Theology, we have several departments for each academic program: Theology Program and Liberal Art Program. Each departments in its respective academic program composes with one another to form academic subjects for students who are learning in either program. By previewing the departments and subjects, students can be more incisive and clear to make a final decision on which type of program they want to take part and its respective subjects that would suit the students' expectation.
            </p>
        </div>
    </div>
</div>
</section>


    <div class="container">
        <div class="row">
        <div class="col-sm-6">
            <div class="head_title">Theology Department
            
            </div>
                <p>There are five departments under Theology Academic Program as for now.
                </p>
        </div>
        <div class="col-sm-6">
            
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="s_text_box">
                    <img src=".../../assets/img/department/21.png" width=100%>
                    <div class="s_container">
                        <div class="head_title2">
                            Department Theology
                        </div>
                        <p>Loren Ipsum Dolor Use our online application form to start your study journey with us today. You can save the form and come back to it if you need more time</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="s_text_box">
                    <img src=".../../assets/img/department/20.png" width=100%>
                    <div class="s_container">
                        <div class="head_title2">Department of Biblical Studies</div>
                        <p>Loren Ipsum Dolor Use our online application form to start your study journey with us today. You can save the form and come back to it if you need more time</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="s_text_box">
                    <img src=".../../assets/img/department/13.png" width=100%>
                    <div class="s_container">
                        <div class="head_title2">Department of History and Mission</div>
                        <p>Loren Ipsum Dolor Use our online application form to start your study journey with us today. You can save the form and come back to it if you need more time</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="s_text_box">
                    <img src=".../../assets/img/department/14.png" width=100%>
                    <div class="s_container">
                        <div class="head_title2">Department of Pastrol Theology</div>
                        <p>Loren Ipsum Dolor Use our online application form to start your study journey with us today. You can save the form and come back to it if you need more time</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="s_text_box">
                    <img src="./../../assets/img/department/pray.jpg" width=100%>
                    <div class="s_container">
                        <div class="head_title2">Department of Christian Education</div>
                        <p>Loren Ipsum Dolor Use our online application form to start your study journey with us today. You can save the form and come back to it if you need more time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blue_tab">
    <section>
        <div class="container-xl py-2">
            <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
                <div class="col-sm-5">
                    <div class="img_w"></div>
                </div>
                <div class="col-sm-5">
                    <div class="head_title3">MIT's Expected Outcomes</div>
                    <p>1. To become a leading and premier Christian   University in Myanmar and in Asia<br>
                        2. To produce good national leaders and distinct academicians in various fields<br>
                        3. To become an international-level Christian University to admit international students<br>
                        4. To provide a broad-based and all round liberal arts education that is based on the Christian principles and contextual needs.<br>
                        5. To become a government recognized University<br>
                        6. To network with other Universities in Myanmar and abroad
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<section>
<div class="container-xl py-2">
    <div class="row">
        <div class="col-sm-6">
            
            <div class="head_title">
                Liberal Art Program Departments
            </div>
                <p>Liberal Art Program has seven departments, which are more than Theology Program and it as well has a wider population of students.</p>
        </div>
    </div>
</div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src=".../../assets/img/department/8.png" width=100%>
            <div class="s_text_box">
            <div class="s_container">
                
            <div class="head_title2">Department of Business</div>
            <p>There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
            <a href="#">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src=".../../assets/img/department/4.png" width=100%>
            <div class="s_text_box">
            <div class="s_container">
            <div class="head_title2">Department of Computer</div>
            <p>There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
            <a href="#">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src=".../../assets/img/department/7.png" width=100%>
            <div class="s_text_box">
                <div class="s_container">
            <div class="head_title2">Department of Social Studies</div>
            <p>There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
            <a href="#">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-sm-8">
                <div class="m_container">
                    <table cellpadding="15px">
                        <tr>
                            <td><div class="img_m"></div></td>
                            <td><div class="head_title2">Department of Community Development</div>
                                <p>There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
                                <a href="#">
                                    <div class="buton">
                                        See More
                                    </div> 
                                </a>
                            </td>
                        </tr>
                    </table>
                    
                    
                </div>
            </div>
    </div>

    <div class="row">
        
        <div class="col-sm-4">
            <img src=".../../assets/img/department/5.png" width=100%>
            <div class="s_text_box">
            <div class="s_container">
            <div class="head_title2">Department of Religion</div>
            <p>There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
            <a href="#">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src=".../../assets/img/department/10.png" width=100%>
            <div class="s_text_box">
                <div class="s_container">
            <div class="head_title2">Department of English</div>
            <p>There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
            <a href="#">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src=".../../assets/img/department/Contact Us.png" width=100%>
            <div class="s_text_box">
            <div class="s_container">
            <div class="head_title2">Department of Music</div>
            <p>There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
            <a href="#">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
        
    </div>
</div>

<div class="foot_img"></div>