<div class="d-flex justify-content-center align-items-center theme-border">
    <div class="container-fluid mx-5 mt-4">
        <h3 class="font-bc text-header text-theme">Religion Major</h3>
        <p class="font-bc f-20 td-5 text-align-justify">Religion Department in Liberal Arts Program is coordinated by theological school of Myanmar Institute of Theology. Course in Religious Department are instructed by faculty of theological school. The theological school formed Committee to oversee the Religious Department. Religion Major offers the following subjects</p>
        <h3 class="font-bc text-header text-theme mt-5">The Following Subjects are Available in Religion Major</h3>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">First Year (Compulsory)</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : World Religious</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to introduce beliefs and practices of world religious. This course will cover the origins and development of beliefs and practice of Primal Religious, Hinduism, Judaism, Islam, Confucianism, Shintoism, Taoism, Sikhism and Jainism.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Introduction to Christianity</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course will examine the nature and development Christianity. Attention will be given to the central teachings of Christianity with reference to their impact upon Christians' lives and experiences throughout the history.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Second Year of Religion</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Religion and Society (Compulsory)</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to study the interplay between religion and society. This course will cover how religion has great impact in shaping communal life. This course will deal with the issue of the question of the relationship between religion and conflicts, religion and power.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Hebrew Bible & Ancient Israel</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is the study of the beginning of Ancient Israel writings and their theological and historical development. This course is also studying the remarkable religious and social movements as well as nature and basic message of Hebrew Bible (Old Testament).</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : History of Christianity</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is a study of Christian History from its beginning to the reformation. The course highlights the important events or issues that shaped the movements, thoughts, practices and faith of the church. It is not merely a study of the historical facts but an analytical and interpretive study of the facts followed by a recommendation of what the present church should do or should be.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Theravada Buddhism</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course introduces the history and development of Theravada Buddhism in India, Siri Lanka and Myanmar. While the history and development of Theravada Buddhism is the focus of the study, major themes and teachings in Theravada Buddhism will be highlighted.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Gandhi and his legacy</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to introduce the life and thought of Gandhi, His understanding of religious faith in daily life and the role of religious teachings in daily life, particularly political life will be considered.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Third Year of Religion</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Ethics (Compulsory)</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is to introduce the nature of moral reasoning. The course will deal with the question of what makes a person or a community to have good life and good character. The ethical problems and dilemma of concrete issue will be deal with in reference to the question of what makes good life and good character.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Reading The New Testament</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">Reading the New Testament is a course to introduce beliefs and practices of Early Christianity in its historical settings. The origin, purpose, content and theme of the New Testament will be examined in their historical context.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Religion and Gender</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to introduce that religion is the experience of both men and women. This course will explore religion is both the experience of men and women, and religion symbols point men and women beyond their ordinary life.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Religion & Peace</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to deal with the ideal of religion, peace and their interactions. How religion plays the role in conflict, violence and peace building are clarified through different religious studies and case studies, which inform the potentials to peace.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Christian Philosophy & Theology</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to study the beliefs and practices of Christianity with particular attention to Modern Christian thinkers. The course will examine Christian understanding of God, Human Being, Salvation, Eschatology, etc.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Practices of Buddhist Meditation</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course explores the theories and practices of meditation developed by the major Buddhist traditions. The main focus is on the Theravada school and on the meditative traditions of other school.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Fourth Year of Religion</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Contemporary Christian Thought</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to introduce life and thought of 20th Century Christian thinkers such as: Karl Barth, Paul Tillich, Dietrich Bonhoeffer, JurgenMoltmann and etc.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Inter-religions Dialogue</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to introduced the students how the importance of Interreligious Dialogue in our pluralistic society and in the global age.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Religion & Spirituality</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is to introduce traditions of spirituality in various religious faiths; attention will be given to Buddhist Spirituality and Christian Spirituality in a dialogical way.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Christianity Today</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course will introduce Christian movements in Contemporary world. The nature of the course is to study trends of Global Christianity and will give attention particularly to Christianity in Myanmar. A study on Myanmar Christian thinkers will be made.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Buddhism Today</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course will introduce Buddhists movement in Contemporary world. The nature of the course is to study trends of Global Buddhism and will give attention particularly to Popular Buddhism in Myanmar. A study on Myanmar Buddhists thinker will be made.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Islam Today</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course will introduce Muslims movement in Contemporary world. The nature of the course is to study trends of Global Islamic Community and will give attention particularly to Islam in Myanmar. A study on Myanmar Muslim thinkers will be made.</p>
            </div>
        </details>     
        <br><br>
    </div>
</div>