.font-bc {
    font-family: 'Barlow Condensed';
}

.bg-none {
    background-color: #efefef;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}


.f-15 {
    font-size: 15px;
}

.f-17 {
    font-size: 17px;
}

.f-19 {
    font-size: 19px;
}

.f-20 {
    font-size: 20px;
}

.f-25 {
    font-size: 25px;
}

.f-30 {
    font-size: 30px;
}

.f-40 {
    font-size: 40px;
}

.fw-7 {
    font-weight: 700;
}

.fw-8 {
    font-weight: 800;
}

.td-5 {
    text-indent: 50px;
}

.text-theme{
    color: #38b6ff;
}

.ml-4 {
    margin-left: 2.4rem;
}

.ml-5 {
    margin-left: 3.7rem;
}

.section-box {
    width: 100%;
    height: 110vh;
}

.text-header {
    font-size: 40px;
    font-weight: 700;
}

.mt-3 {
    margin-top: 4rem;
}

.text-align-justify {
    text-align: justify;
}

.theme-border {
    width: 100%;
    border: 3px solid #38b6ff;
}

.border-grey {
    border: 1px solid #c2c2c2;
}

.border-grey-btn {
    border-bottom: 1px solid #c2c2c2;
}

.border-grey-left {
    border-left: 1px solid #c2c2c2;
}

.border-grey-right {
    border-right: 1px solid #c2c2c2;
}

.bg-theme {
    background-color: #38b6ff;
}

.btn-theme {
    background-color: #38b6ff;
    padding: 10px 60px;
    color: #fff;
    border: none;
}