<div class="d-flex justify-content-center align-items-center theme-border">
    <div class="container-fluid mx-5 mt-4">
        <h3 class="font-bc text-header text-theme">English Major</h3>
        <p class="font-bc f-20 td-5 text-align-justify">English is one of the major under the Liberal Arts Program. English Major offers the following subjects.</p>
        <h3 class="font-bc text-header text-theme mt-5">The Following Subjects are Available in English Major</h3>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Second Year of English</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Introduction to Poetry</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">As an introductory, this course expose the students to the works of well-known British and American poets through discovering figures of speech commonly used in poetry. The students are expected to be able to analyze and appreciate significant aspects of each poem through working in pairs and groups.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Shakespeare Stories</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to help the students get to know William Shakespeare, a famous artist of the 16th century and an outstanding contributor to the English Literature, and enjoy some of his works through reading and reflection on eight of the stories of Shakespeare.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Introduction to Fictions</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course allows students to experience the pleasure of reading short stories and abridged novels, to notice the common elements of those short and long stories, and to develop their critical thinking by interpreting themes of the most-read novels. As a mean of assessment, in-class work and outside class activities are designed to promote the students' interpersonal skill and autonomy.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Writing Essentials</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The main objective of this course is to help students write cohesively and coherently. Students will study some basics such as spelling, punctuation, grammar that a writer needs. They will also study how to put a paper together.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Third Year of English</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Conversational Competency</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The purpose of this class is to help improve students' verbal communication skills through discussions, interactions, individual presentations, group presentations, debates and arguments with teacher and among themselves. Since students are expected to interact with teachers and each other actively, a lot of thought provoking questions or topics are assigned.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Sociolinguistics</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course looks at a definition of language and explores the use of language in society. Topics include written vs. spoken language, language vs. dialect, language functions, language styles, language change, language choices, language shift, and language maintenance. Students are encouraged to reflect on the multilingual situation in Myanmar and on their own language repertoire, choices, and use.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Modern Plays</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to familiar students with the language and essence of drama and be challenged to perform a play, sharing the responsibilities of choosing and staging it.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Extensive Reading</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to develop students' awareness of their own reading and thinking processes through practice with authentic texts of different genres, to acquire an accurate understanding of "reading" and strategies of reading, and to gain confidence in their ability to deal with reading texts. Students are required to choose and read at least four books and respond to them, to formulate and articulate their precisely and thus they acquire new ways of talking and thinking about a text.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Modern Poetry</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">Allowing the students to identify figurative and musical language decorated in poems, this course is to promote their critical thinking through interpreting message of each poem, and to upgrade their creative skill through composing their own poems. Cross-cultural awareness can positively be gained when the students are asked to explore background information of the poems classified under the particular topics such as war and death, dreams and choices, rich and poor, love and romance.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Novel</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed for students to appreciate the work of well-known novelists. Students will study and analyze the elements of novel and interpret the theme of the novel.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">07 : Sound Systems and Writing System</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course looks at the advantages and disadvantages of three kinds of writing system: word writing system, syllabary systems and alphabet systems. The Burmese and English alphabet systems are examined to see how they represent the important sound distinctions of each language. IPA symbols for English and Burmese are reviewed. Discrepancies between spelling and speech that cause difficulties for readers and writers are identified. Syllable and rhyme patterns in both languages are compared pointing our implications for language learning. Strategies for identifying the phonemes of a language and devising a writing system for an unwritten language are briefly introduced.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Fourth Year of English</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Theory and Practice of Academic & Writing</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to help improve students' academic writing skills of different genres such as descriptive, narrative and argumentative writing, etc. Some of the other skills including paraphrasing, summarization, reflection and different types of styles will also be analyzed through different samples and practiced in this course.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Modern Short Stories</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">Modern short stories or fictions are introduced to the final year students to explore the twisted truth existing in our society which the writer wants to convey to the readers. This course will help students to learn and analyze the different elements such as theme, character, plot, suspense, conflict and resolution of selected modern short stories by Dorothy Parker, Ernest Hemingway and other well-known authors.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Film</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The objective of this course is to gain a greater appreciation for film as an art form. Like literature, film can be studied, analyzed and discussed in terms of story elements such as setting, character, plot, conflict, climax, and resolution. This is to learn the story telling devices used in the film and to see what are inside in the movie. Students will also learn and become familiar with certain terms that are specific to the art of filmmaking, such as framing, shot, scene, and camera angle.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Student Seminar</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <div class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">In this course, each student will be given different reading that they have to read, analyze and reflect on. (All students are required to make copies of their reading assignment for the whole class). Then they are to do individual presentations on their reading assignment(s). Students are to include the following points in their presentation.
                    <ul style="list-style-type:number">
                        <li class="font-bc f-20 td-5 m-0 text-align-justify">To introduce the author and the article/book briefly (students will have to do their own small research for this)</li>
                        <li class="font-bc f-20 td-5 m-0 text-align-justify">Main points of the article</li>
                        <li class="font-bc f-20 td-5 m-0 text-align-justify">Students' reflections (what they have learned, whether they like or dislike it, how that particular reading can be applied in their lives, etc.)</li>
                    </ul>
                </div>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Musical Drama</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is specially designed for the final year students to apply what they have learnt from literature into practice by performing a musical drama with full music scores and lyrics of the famous script writers. Team working, efficient participation and great effort from each student are required for this class. This course will not only enhance the language skills of students but also build up interpersonal skills of individual student.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Translation I</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course compares literal and meaning-based translation, focusing on strategies for making a meaning based translation that is accurate, natural, and clear. Students learn to discover the meaning of a text, uncover implied information, and handle the special challenge of figurative language, abstract nouns, of phrases, passives and unknown ideas. Exercises are drawn largely from the Bible and students practice translating from English to Burmese.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">07 : Advanced Grammar</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to make students more proficient in using the English language. All important grammar points will be reviewed and discussed. Students will be asked to do grammar exercise-including some writing exercises- in the classroom every week. In addition, students will read and analyze news reports, essays and articles written by professionals in various field.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">08 : Non-Fiction</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to introduce "Non-Fiction", which is a type of "Literature", and some non-fiction such as autobiography, biography, speech and essay written by well-known authors of all time in literature. Students are expected to lay a foundation with literal, fact based questions during reading and to build critical thinking skills after reading. Apart from responding to the selected texts, students are also exposed to writing models and invited to examine the writing process as they prepare to produce their own.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">09 : Novel</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to introduce students to a timeless novel of a famous writer to analyze and study the elements of novel and reflect on the theme. This course will help students to go beyond the novel and relate the theme, each character and each single event to what is happening in the society that they are living in.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">10 : Translation II</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course focuses on implementing the principles of meaning-based translation in translating short narrative texts from Burmese to English. Students learn to make adjustments in form in order to write with natural English usage and expressions. Students also practice identifying figures of speech in English articles (metaphors, similes, rhetorical questions, metonymy, litotes, allusions, personification, irony, and sarcasm) and suggesting translation strategies.</p>
            </div>
        </details>    
        <br><br>
    </div>
</div>