<section id="showcase" class="d-flex align-items-end">
    <div id="textbox" class="container text-white text-center">
        <h2 id="headTitle" class="mb-0">Liberal Arts Program</h2>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <div class="d-flex container-fluid justify-content-around py-5">
            <div class="col-md-5 ms-3 f-25 text-theme">
                <a class="mb-0 font-bc text-theme fw-7">Programs</a> / <a class="font-bc text-theme fw-7">Liberal Arts Program</a>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="container-xl py-2">
            <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
                <div class="col-md-5">
                    <div id="applyImageBox"><img id="whyapplyImage" width="650" height="350" src=".../../assets/img/how-to-apply/whyYouShouldApply.png" alt=""></div>
                </div>
                <div class="col-md-5 pe-5">
                    <h1 class="mb-0 text-header text-theme">Liberal Arts Program</h1>
                    <p class="mb-0 mt-3 text-align-justify f-25 font-bc">
                        The objectives of Myanmar Institute of Theology include  producing competent and faithful young leaders and scholars at national and international levels. Moreover,  it has so much networking with universities, colleges and other academic institutions within and outside Myanmar. Those who love adventures, challenges and so on, will easily be fit into the atmosphere of the School.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-xl">
        <div class="d-flex container-fluid pt-5 pb-0 justify-content-around align-items-center">
            <div class="col-md-3" id="entryBox">
                <button class="border-0" id="boxImageFrame" routerLink="/program/lap/bachelor">
                    <img id="boxImage" class="w-100" src=".../../assets/img/lap/business.png" alt="">
                    <div class="theme-border">
                        <div class="p-4">
                            <h5 class="f-20 fw-7 mb-0 text-theme">Business Major</h5>
                            <p class="f-18 mt-3 text-align-justify text-center">There is just enough space here for several lines of text. Use it well.</p>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-md-3" id="entryBox">
                <button class="border-0" id="boxImageFrame" routerLink="/program/lap/bachelor">
                    <img id="boxImage" class="w-100" src=".../../assets/img/lap/computer studies.png" alt="">
                    <div class="theme-border">
                        <div class="p-4">
                            <h5 class="f-20 fw-7 mb-0 text-theme">Computer Studies Major</h5>
                            <p class="f-18 entry-text mt-3 text-align-justify text-center">There is just enough space here for several lines of text. Use it well.</p>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-md-3" id="entryBox">
                <button class="border-0" id="boxImageFrame" routerLink="/program/lap/bachelor">
                    <img id="boxImage" class="w-100" src=".../../assets/img/lap/english.png" alt="">
                    <div class="theme-border">
                        <div class="p-4">
                            <h5 class="f-20 fw-7 mb-0 text-theme">English Major</h5>
                            <p class="f-18 entry-text mt-3 text-align-justify text-center">There is just enough space here for several lines of text. Use it well.</p>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="container-xl ">
        <div class="d-flex container-fluid pt-2 pb-2 justify-content-around align-items-center p-0">
            <div class="col-md-3" id="entryBox">
                <button class="border-0" id="boxImageFrame" routerLink="/program/lap/bachelor">
                    <img id="boxImage" class="w-100" src=".../../assets/img/lap/music.png" alt="">
                    <div class="theme-border">
                        <div class="p-4">
                            <h5 class="f-20 fw-7 mb-0 text-theme">Music Major</h5>
                            <p class="f-18 mt-3 text-align-justify text-center">There is just enough space here for several lines of text. Use it well.</p>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-md-3" id="entryBox">
                <button class="border-0" id="boxImageFrame" routerLink="/program/lap/bachelor">
                    <img id="boxImage" class="w-100" src=".../../assets/img/lap/religion.png" alt="">
                    <div class="theme-border">
                        <div class="p-4">
                            <h5 class="f-20 fw-7 mb-0 text-theme">Religion Major</h5>
                            <p class="f-18 entry-text mt-3 text-align-justify text-center">There is just enough space here for several lines of text. Use it well.</p>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-md-3" id="entryBox">
                <button class="border-0" id="boxImageFrame" routerLink="/program/lap/bachelor">
                    <img id="boxImage" class="w-100" src=".../../assets/img/lap/social studies.png" alt="">
                    <div class="theme-border">
                        <div class="p-4">
                            <h5 class="f-20 fw-7 mb-0 text-theme">Social Studies Major</h5>
                            <p class="f-18 entry-text mt-3 text-align-justify text-center">There is just enough space here for several lines of text. Use it well.</p>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section class="bg-theme">
    <div class="container-xl py-2">
        <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
            <div class="col-md-5">
                <h1 class="mb-0 text-header text-white">Additional Programs for Post Graduated Students</h1>
                <p class="mb-0 mt-3 text-align-justify f-25 font-bc">
                    LAP were also lunched Master of Arts in Community Development (MACD), Master of Arts in Peace Studies (MAPS) and Master of Arts in Interfaith Dialogue (MAID) and Master of Arts in peace studies.
                </p>
            </div>
            <div class="col-md-5">
                <div class="d-flex justify-content-between">
                    <div id="applyImageBox1"><img id="whyapplyImage1" width="650" height="350" src=".../../assets/img/lap/36.png" alt=""></div>
                    <div class="mt-5">
                        <div id="applyImageBox2"><img id="whyapplyImage2" width="650" height="350" src=".../../assets/img/lap/144.png" alt=""></div>
                        <div id="applyImageBox2"><img id="whyapplyImage2" width="650" height="350" src=".../../assets/img/lap/8.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
            <div class="col-md-3" id="becomeBox">
                <div class="">
                    <img id="feesImg" width="352" height="200" src=".../../assets/img/how-to-apply/fees.jpg" alt="">
                    <div class="theme-border p-3">
                        <h5 class="font-bc f-17 fw-7 mb-0 text-theme">Master of Business Administration (MBA)</h5>
                        <p class="f-15 entry-text mt-3 text-align-justify">There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-theme-rounded" routerLink="/not-available">See Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="becomeBox">
                <div class="">
                    <img id="feesImg" width="352" height="200" src=".../../assets/img/lap/MA CDS.png" alt="">
                    <div class="theme-border p-3">
                        <h5 class="font-bc f-17 fw-7 mb-0 text-theme">Master of Arts in Community Development Studies</h5>
                        <p class="f-15 entry-text mt-0 text-align-justify">There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-theme-rounded" routerLink="/not-available">See Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="becomeBox">
                <div class="">
                    <img id="feesImg" width="352" height="200" src=".../../assets/img/lap/MA PS.png" alt="">
                    <div class="theme-border p-3">
                        <h5 class="font-bc f-17 fw-7 mb-0 text-theme">Master of Arts in Peace Study</h5>
                        <p class="f-15 entry-text mt-3 text-align-justify">There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-theme-rounded" routerLink="/not-available">See Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl py-2">
        <div class="d-flex container-fluid py-5 justify-content-between align-items-center">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-6 ps-5">
                    <div class="d-flex" id="frame">
                        <img id="feesImg1" width="352" height="200" src=".../../assets/img/lap/MA ID.png" alt="">
                        <div class="theme-border p-3">
                            <h5 class="font-bc f-17 fw-7 mb-0 text-theme">Master of Arts in Peace Study</h5>
                            <p class="f-15 entry-text mt-3 text-align-justify">There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn-theme-rounded" routerLink="/not-available">See Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pe-0">
                    <div class="d-flex" id="frame">
                        <img id="feesImg1" width="352" height="200" src=".../../assets/img/lap/MA GS.png" alt="">
                        <div class="theme-border p-3">
                            <h5 class="font-bc f-17 fw-7 mb-0 text-theme">Master of Arts in Peace Study</h5>
                            <p class="f-15 entry-text mt-3 text-align-justify">There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn-theme-rounded" routerLink="/not-available">See Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section id="bottomShowCase" class="d-flex align-items-end">
</section>