<div class="d-flex justify-content-center align-items-center theme-border">
    <div class="container-fluid mx-5 mt-4">
        <h3 class="font-bc text-header text-theme">Business Studies Major</h3>
        <p class="font-bc f-20">Business Studies is one of the fastest growing majors in the Liberal Arts Program of Myanmar Institute of Theology. The department hopes to provide qualified human resource that will fill the country’s need. Even now, LAP business major graduates are demanded by various sectors especially in NGOs and private sector.</p>
    </div>
</div>