<div class="d-flex justify-content-center align-items-center theme-border">
    <div class="container-fluid mx-5 mt-4">
        <h3 class="font-bc text-header text-theme">Computer Studies Major</h3>
        <p class="font-bc f-20 td-5 text-align-justify">Computer Science is also one of the major under the Liberal Arts Program . The goal of the department is to enable the students to master skills relevant to ICT study field and to equip them for their professional careers. Computer Studies Major offers the following subjects.</p>
        <h3 class="font-bc text-header text-theme mt-5">The Following Subjects are Available in Computer Studies Major</h3>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">First Year (Compulsory)</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Introduction to Information Technology</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to examine some of the fundamental ideas of the science of computing. Lectures and hands-on assignments cover a wide variety of topics such as hardware organization, the Internet, computer programming, limits of computing, and graphics. This course counts towards the major in computer science subjects.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Second Year of Computer Studies</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Introduction to Computer System</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to examine some of the fundamental ideas of the science of computing. Lectures and hands-on assignments cover a wide variety of topics such as hardware organization, the Internet, computer programming, limits of computing, and graphics. This course counts towards the major in computer science subjects.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Basic Programming C++</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is an introduction to the theory and practice of computer programming, the emphasis of this course is on techniques of program development within the object-oriented paradigm. Topics include control structures, objects, classes, and basic concepts of software development. C++ is the programming language used in the course. This course has a required lab component, and is required for the major in computer science. The goal of this course is to expose students to the latest technology and allow students to learn a new programming language once they understand the fundamentals of programming.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Database Theory</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course introduces the theory and practice of relational databases and relational database management systems (RDBMS). Topics include Types of Databases, database design, the relational algebra and relational calculus, Query by Example, and elements of RDBMS implementation such as file structure and data storage, indexing, and query evaluation.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : System Administration</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course offers a practical grounding in the principles of system administration and demystifies why IT departments do the things they do, such as imposing limitations on users. To demonstrate universal principles that apply to all platforms, we utilize the major operating system families: Linux (through Ubuntu), Windows (XP, Vista, and Server). The course starts with a review of computer basics before addressing such issues as user account management, interoperability and data warehousing. Through hands-on assignments, students deal with challenges designed to help them create, customize, and grow their own IT toolbox. By the end of the semester, students will showcase their skills in a final project in which they will defend their work from hacking attempts.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Web Fundamental</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">Web Fundamental course is an introduction to the design, creation, and maintenance of web pages and websites. Students learn how to critically evaluate website quality, learn how to create and maintain quality web pages, learn about web design standards and why they're important, and learn to create and manipulate images. The course progresses from introductory work on web design to a culminating project in which students design and develop websites for local community organizations.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Math</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to introduce students to the techniques, algorithms, and reasoning processes involved in the study of discrete mathematical structures. Students will be introduced to set theory, inductive reasoning, elementary and advanced counting techniques, equivalence relations, recurrence relations, graphs, and trees. Through their study of these topics students will develop a greater understanding of the breadth of mathematics and will acquire a familiarity with concepts, structures and algorithms that are essential to the field of computer science and applied mathematics.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">07 : Data Structure</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course designs the study of data structures and algorithms, focusing on algorithm design and analysis and the relationships between data representation, algorithm design, and program efficiency. Topics include advanced fundamentals of programming including basic data structures (such as lists, stacks and queues, binary trees, and hash tables), recursion, common algorithms (such as searching and sorting), and key algorithm design techniques. This course is required for the major in computer science.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Third Year of Computer Studies</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Visual Programming</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is an introduction to Programming, using Visual Basic. Using Visual Basic(either the Express Edition or through Visual Studio) as the programming tool and language. Topics include Visual Basic 2005 fundamentals, variables, assignments, expressions, constants, conditional statements and iterative structures.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Project Management</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The future of many organizations depends on their ability to harness the power of information technology, and good project managers continue to be in high demand. Colleges have responded to this need by establishing courses in project management and making them part of the information technology, management, engineering, and other curricula. Corporations are investing in continuing education to help develop effective project managers and project teams. This course provides a much-needed framework for project management, especially those that emphasize managing information technology project.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Database Management System</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course continues the advanced theory and practice of relational databases and relational database management systems (RDBMS). Topics include data modeling and database design, the relational algebra and relational calculus, SQL, and elements of RDBMS implementation such as file structure and data storage, indexing, and query evaluation. Additional topics may include Web-based access to databases, transaction management, reliability, security, and object-oriented databases.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Introduction to Networking</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course introduces computer networking and an overview of network organization and management. Students will also develop a basic understanding of encryption and network security, as well as some practical experience in network programming.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Programming Language-Java</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course designed to cover some of the more advanced fundamentals of programming including basic data structures, recursion, common algorithms and generic programming. This course also looks more deeply at object-oriented programming, including the use of class hierarchies. Currently, the course is taught using the Java programming language. This course has a required lab component and is required for the major and minor in computer science. The goal of this course is to expose students to the latest technology and allow students to learn a new programming language once they understand the fundamentals of programming.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Web Development</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course will show students how to use a web authoring software to enhance and manage professional quality web sites. Students will create a web site containing multimedia elements, publish it, and maintain it. This course will look at the state of technology in web development. It will cover topics that are cutting edge and new as well as those that may not get significant treatment in other courses.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">07 : Software Engineering</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course aims at providing students with general knowledge on software development. Based on the assumption that students are more or less equipped with software analysis and design knowledge, the course attempts to overview students with various software development methodologies. Since "myths" and "reality" in software development are mostly different from each other, the overview will focus on possible drawback of all methodologies discussed. In addition, the course will provide students will a set of facts that can be used to verify a given (or proposed) methodology. After all, this knowledge can be viewed as basis for IT personal in surviving in the world with millions of hidden assumptions.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">08 : Advanced Networking</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is the advanced theory and practice of computer networks, the software protocols that allow them to operate, and the applications that make use of them. Topics covered include direct-link networks, packet switching, internetworking, end-to-end protocols, network applications, and network security.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Fourth Year of Computer Studies</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : System Analysis And Design Part-1</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course introduces established and evolving methodologies for the analysis, design, and development of an information system Emphasis is placed on system characteristics, managing projects, prototyping, CASE/OOM tools, and systems development life cycle phases. Upon completion, students should be able to analyze a problem and design an appropriate solution using a combination of tools and techniques.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Multimedia Part-1</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed for students interested in careers in the Media and Design Arts Pathway, in the Arts, Media and Entertainment industry sector. Students will be introduced to industry-standard tools, skills, and materials that they can manipulate as the primary means of creative expression. Students will explore basic applications of various multimedia tools to create visual, aural, and written projects in both digital and print format. Through field trips, guest speakers, and online career research, students will learn about local and regional opportunities in this career pathway.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Programming Language-PHP Part-1</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed the techniques, principles, and practices of writing computer programs for the World Wide Web, Server and browser capabilities and limits. Media types, handlers, and limitations, Web programming languages and techniques, Web security, privacy, and commerce. This course is designed to give the student the tools and the knowledge to program using the web programming language PHP as a server side language. This course goes over the syntax and usage of the language. This course will introduce the basics of web applications.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Mobile Development </p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course introduces the Mobile Application Development that will prepare the learners for a career in mobile programming using Android. The students will not only learn Android fundamentals but will also develop skills in: Android User Interface, Activities and Debugging, Intents and Adapters, Databases and many more concepts. They will also explore how to sign and upload their app on Google Play.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : System Analysis And Design Part-2</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course introduces established and evolving methodologies for the analysis, design, and development of an information system Emphasis is placed on system characteristics, managing projects, prototyping, CASE/OOM tools, and systems development life cycle phases. Upon completion, students should be able to analyze a problem and design an appropriate solution using a combination of tools and techniques.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Multimedia Part-2</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed for students interested in careers in the Media and Design Arts Pathway, in the Arts, Media and Entertainment industry sector. Students will be introduced to industry-standard tools, skills, and materials that they can manipulate as the primary means of creative expression. Students will explore basic applications of various multimedia tools to create visual, aural, and written projects in both digital and print format. Through field trips, guest speakers, and online career research, students will learn about local and regional opportunities in this career pathway.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">07 : Programming Language-PHP Part-2</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed the techniques, principles, and practices of writing computer programs for the World Wide Web, Server and browser capabilities and limits. Media types, handlers, and limitations, Web programming languages and techniques, Web security, privacy, and commerce. This course is designed to give the student the tools and the knowledge to program using the web programming language PHP as a server side language. This course goes over the syntax and usage of the language. This course will introduce the basics of web applications.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">08 : Final Project</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is designed to give project planning specification, to analyses, design and implement an information system, after which the student have to do project presentation and shall submit a project report with project requirements. Students interested in studying subjects covered in major courses or in developing a unique programming project may negotiate with a lecturer for individualized instruction.</p>
            </div>
        </details>      
        <br><br>
    </div>
</div>