<div class="head_img">
    <div class="text_box">Fees</div>
</div>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2 ">
    <a href="">How To Apply / Fee</a>

    <div class="head_title">School Fees for Liberal Arts Program</div>

<table cellspacing="100" class="table1">
    <tr>
        <td rowspan="2" class="h_td border-none" style="position:relative;"><div class="half_blue"></div><div class="f_s_con  d-flex align-items-center justify-content-center">Sr.No</div></td>
        <td rowspan="2"><div class="f_con d-flex align-items-center justify-content-center">Program</div></td>
        <td colspan="2"><div class="f_con d-flex align-items-center justify-content-center">First Semester</div></td>
        <td colspan="2"><div class="f_con d-flex align-items-center justify-content-center">Second Semester</div></td>
        <td><div class="f_con d-flex align-items-center justify-content-center">Total For One Year</div></td>
        <td class="border-none" rowspan="2" style="position:relative;"><div class="half_blue2"></div><div class="f_s_con2  d-flex align-items-center justify-content-center">Remark</div></td>  
    </tr>

    <tr class="border-theme">
        <td><div class="border-white">1st installment</div></td>
        <td><div class="border-white">2nd installment</div></td>
        <td><div class="border-white">3rd installment</div></td>
        <td><div class="border-white">4th installment</div></td>
        <td><div class="border-white h-100 d-flex align-items-center justify-content-center">Kyats</div></td>
    </tr>
    <tr>
        <td colspan="8">BA/BS.C Program</td>
    </tr>
    <tr>
        <td style="width: 90px;">1</td>
        <td>LAP-First Year</td>
        <td>205,250 K</td>
        <td>190,000 K</td>
        <td>187,250 K</td>
        <td>180,000 K</td>
        <td>762,500 K</td>
        <td rowspan="4">Including 7% Tution fees Discount K 45,500 for Online Program</td>
    </tr>
    <tr>
        <td>2</td>
        <td>LAP-Second Year</td>
        <td>177,250 K</td>
        <td>165,000 K</td>
        <td>147,250 K</td>
        <td>160,000 K</td>
        <td>649,500 K</td>
    </tr>
    <tr>
        <td>3</td>
        <td>LAP-Third Year</td>
        <td>177,250 K</td>
        <td>165,000 K</td>
        <td>147,250 K</td>
        <td>160,000 K</td>
        <td>649,500 K</td>
    </tr>
    <tr>
        <td>4</td>
        <td>LAP-Final Year</td>
        <td>180,250 K</td>
        <td>170,000 K</td>
        <td>157,250 K</td>
        <td>160,000 K</td>
        <td>667,500 K</td>
    </tr>
    <tr>
        <td colspan="8"></td>
    </tr>
    <tr>
        <td colspan="8">Master Program</td>
    </tr>
    <tr>
        <td>1</td>
        <td>MAPS-First Year</td>
        <td>176,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>716,000 K</td>
        <td rowspan="2">Including 7% Tution fees Discount K 42,500 for Online Program</td>
    </tr>
    <tr>
        <td>2</td>
        <td>MAPS-Final Year</td>
        <td>161,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>701,000 K</td>
    </tr>
    <tr>
        <td colspan="8"></td>
    </tr>
    <tr>
        <td>3</td>
        <td>MAIDS-First Year</td>
        <td>166,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>706,000 K</td>
        <td rowspan="2"><div class="blue_con">Including 7% Tution fees Discount K 42,500 for Online Program</div></td>
    </tr>
    <tr>
        <td>4</td>
        <td>MAIDS-Final Year</td>
        <td>153,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>693,000 K</td>
    </tr>
    <tr>
        <td colspan="8"></td>
    </tr>
    <tr>
        <td>5</td>
        <td>MACD-First Year</td>
        <td>176,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>180,000 K</td>
        <td>716,000 K</td>
        <td rowspan="2">Including 7% Tution fees Discount K 42,500 for Online Program</td>
    </tr>
    <tr>
        <td>6</td>
        <td>MACD-Final Year</td>
        <td>181,000 K</td>
        <td>190,000 K</td>
        <td>190,000 K</td>
        <td>190,000 K</td>
        <td>190,000 K</td>
    </tr>
    <tr>
        <td colspan="8">Note school fee will consequential Change. These School Fees are Only for Online Program<br>Additional Expenses For Accomodation, Foods, Internet Fees, Books and Stationary etc are not include inthis school<br>fees and<br>it Depends on Individual</td>
    </tr>
    
</table>
</div>
</section>
<br><br>

<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2 mb-5">
<div class="head_title">Study Expenses</div>

<table class="table2">
    <tr>
        <td colspan="4">For Theology Program</td>
    </tr>
    <tr>
        <td></td>
        <td>M.Div 1 / MTL I</td>
        <td>M.Div II</td>
        <td>M.Div III</td>
    </tr>
    <tr>
        <td>Tution(600,000xafter 3.5% discount)</td>
        <td>579,000 K</td>
        <td>579,000 K</td>
        <td>579,000 K</td>
    </tr>
    <tr>
        <td>Other Fees</td>
        <td>211,000 K</td>
        <td>53,000 K</td>
        <td>93,000 K</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>790,000 K</td>
        <td>632,000 K</td>
        <td>672,000 K</td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td></td>
        <td>MACS I</td>
        <td>MACS II</td>
        <td>MACS III</td>
    </tr>
    <tr>
        <td>Tution(600,000xafter 3.5% discount)</td>
        <td>579,000 K</td>
        <td>579,000 K</td>
        <td>579,000 K</td>
    </tr>
    <tr>
        <td>Other Fees</td>
        <td>156,000 K</td>
        <td>53,000 K</td>
        <td>63,000 K</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>735,000 K</td>
        <td>632,000 K</td>
        <td>642,000 K</td>
    </tr>
    <tr>
        <td colspan="4" class="td_h"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td></td>
        <td>MTh I</td>
        <td>MTH I</td>
        <td></td>
    </tr>
    <tr>
        <td>Tution(600,000xafter 3.5% discount)</td>
        <td>579,000 K</td>
        <td>289,500 K</td>
        <td></td>
    </tr>
    <tr>
        <td>Total</td>
        <td>835,000 K</td>
        <td>502,500 K</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4" ></td>
    </tr>
    <tr>
        <td colspan="4" class="td_h"></td>
    </tr>
    <tr>
        <td></td>
        <td>B.A / B.Sc I</td>
        <td>B.A / B.Sc II & III</td>
        <td>B.A / B.Sc IV</td>
    </tr>
    <tr>
        <td>Tution(600,000xafter 3.5% discount)</td>
        <td>627,250 K</td>
        <td>627,250 K</td>
        <td>627,250 K</td>
    </tr>
    <tr>
        <td>Other Fees</td>
        <td>2o2,000 K</td>
        <td>99,000 K</td>
        <td>117,000 K</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>829,250 K</td>
        <td>726,250 K</td>
        <td>744,250 K</td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
</table>
    </div>
</section>
<hr class="p-0 m-0">
<section class="bg-theme">
    <div class="container-xl py-2">
        <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
            <div class="col-md-5">
                <div id="applyImageBox"><img id="whyapplyImage" width="650" height="350" src=".../../assets/img/fee/36.png" alt=""></div>
            </div>
            <div class="col-md-5 pe-5">
                <h1 class="mb-0 text-header text-white">Scholarship</h1>
                <p class="mb-0 mt-5 text-align-justify f-25 font-bc">
                    MIT has a limited scholarship granted on the basis of demonstrated financial need to the MTL, MMin, MDiv. MTh. and DMin, Students. The Scholarship Committee of MIT is fully responsible for seeking the needy students and for screening and processing all the scholarship programs.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="foot_img">
</div>