<section id="showcase" class="d-flex align-items-end">
    <div id="textbox" class="container text-white text-center">
        <h2 id="headTitle" class="mb-0">Admission Requirements</h2>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-5">
        <div class="d-flex container-fluid justify-content-around pt-3 mb-0">
            <div class="col-md-5 ms-3 f-25 text-theme">
                <a class="mb-0 ff-c text-theme fw-7">How to apply</a> / <a class="ff-c text-theme fw-7">Admission Requirements</a>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="d-flex container-fluid justify-content-around align-items-center">
            <div class="col-md-5">
                <h1 class="mb-0 text-header text-theme pb-3">Admission Requirements for Liberal Arts Program</h1>
                <ul class="text-align-justify ff-c">
                    <li><span class="f-24 ff-c">Matriculation passed (A list) or an equivalent qualification (Agricultural/Technical High School passed); GCE ‘O’ Level passed.</span></li>
                    <li><span class="f-24 ff-c">Two Recommendations of Church Pastor/Gazetted Officer.</span></li>
                    <li><span class="f-24 ff-c">Three-hour English test (Entrance examination passed)</span></li>
                    <li><span class="f-24 ff-c">Up-to-date medical report</span></li>
                    <li><span class="f-24 ff-c">Two recent passport photos</span></li>
                </ul>
            </div>
            <div class="col-md-5">
                <div class=" container-fluid justify-content-around py-5">
                    <div class="d-flex justify-content-around">
                        <div id="applyImageBox"><img id="whyapplyImage" width="150" height="300" src=".../../assets/img/admission-requirement/rect1.png" alt=""></div>
                        <div id="applyImageBox"><img id="whyapplyImage" width="150" height="300" src=".../../assets/img/admission-requirement/rect2.png" alt=""></div>    
                    </div>
                    
                    <div class="d-flex justify-content-around mt-3">
                        <div id="applyImageBox1"><img id="whyapplyImage1" width="150" height="300" src=".../../assets/img/admission-requirement/rect3.png" alt=""></div>
                        <div id="applyImageBox1"><img id="whyapplyImage1" width="150" height="300" src=".../../assets/img/admission-requirement/rect4.png" alt=""></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section class="bg-theme">
    <div class="container-xl">
        <div class="container-xl py-2">
            <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
                <div class="col-md-3">
                    <div id="applyImageBox2"><img id="whyapplyImage2" width="650" height="350" src=".../../assets/img/admission-requirement/13.png" alt=""></div>
                </div>
                <div class="col-md-6 pe-0">
                    <h1 class="mb-0 text-header text-white">Admission Form Information for Liberal Arts Program </h1>
                    <ul class="text-align-justify ff-c lh-6 mt-3">
                        <li><span class="f-28 ff-c">Application Forms are available at LAP Office starting from May</span></li>
                        <li><span class="f-28 ff-c">Deadline for application is August 31</span></li>
                        <li><span class="f-28 ff-c">Entrance exam will be held on Saturday, the second week of September</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
            <div class="col-md-5 ms-3">
                <h1 class="mb-0 text-header text-theme">Admission Requirements for Theology Program</h1>
                <p class="mb-0 f-20 mt-3 text-align-justify font-bc">
                    Degree holders from the Myanmar Institute of Theology and accredited seminaries and accredited universities are eligible to apply for the Master of Arts in Christian Studies, Master of Theological Librarianship, Master of Divinity, Master of Theology, and Master of Ministry degree programs. B.Th. and M.Div. graduates must have at least one year of Christian Service before they join their M.Div. and M.Th. programs. Candidates who want to join MTL, M.Div, MACS and M.Th. classes must pass the Entrance Examination (English, Biblical Knowledge, Psycho-Test). The M.Th candidates must also pass the examination in the chosen field of study. M.Div degree holders with at least three years consecutive service in the churches or in the ministry are eligible to apply for D.Min program.
                </p>
            </div>
            <div class="col-md-5">
                <div id="applyImageBox3"><img id="applyImage3" width="550" height="450" src=".../../assets/img/admission-requirement/18.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <div class="d-flex container-fluid justify-content-around align-items-center">
            <div class="col-md-5">
                <h1 class="mb-0 text-header text-theme pb-3">Admission Requirements for Liberal Arts Program</h1>
                <ul class="text-align-justify ff-c">
                    <li><span class="f-24 ff-c">Matriculation passed (A list) or an equivalent qualification (Agricultural/Technical High School passed); GCE ‘O’ Level passed.</span></li>
                    <li><span class="f-24 ff-c">Two Recommendations of Church Pastor/Gazetted Officer.</span></li>
                    <li><span class="f-24 ff-c">Three-hour English test (Entrance examination passed)</span></li>
                    <li><span class="f-24 ff-c">Up-to-date medical report</span></li>
                    <li><span class="f-24 ff-c">Two recent passport photos</span></li>
                </ul>
            </div>
            <div class="col-md-5">
                <div class="py-5">
                    <div class="d-flex justify-content-around">
                        <div id="applyImageBox1"><img id="whyapplyImage1" width="150" height="300" src=".../../assets/img/admission-requirement/rect1.png" alt=""></div>
                        <div id="applyImageBox1"><img id="whyapplyImage1" width="150" height="300" src=".../../assets/img/admission-requirement/rect2.png" alt=""></div>    
                    </div>
                    
                    <div class="d-flex justify-content-around mt-3">
                        <div id="applyImageBox4"><img id="whyapplyImage4" width="150" height="300" src=".../../assets/img/admission-requirement/rect3.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section id="bottomShowCase" class="d-flex align-items-end">
</section>
