<div class="student-life">
    <div class="banner">
        <div class="hero">
            <p class="hero-header">Studying at MIT</p>
            <p class="uni-name">Myanmar Institute of Theology</p>
        </div>
    </div>
    <div class="container pt">
        <div class="row">
            <div class="col-sm-6 pl">
                <img src=".../assets/img/student-life/42.png" id="banner-1" alt="photo" width="100%" height="100%">
            </div>
            <div class="col-sm-6 pr">
                <span class="bene-p">
                    <h3 class="banner-header-2">Benefits of Studying at MIT</h3>
                    <p class="banner-p">MIT is Famous for its Prestigious Educartion System and a well known Diversity in Students. It can offer an enormous amount of lifelong Opportunities as well as good lifestyles to the student as it is based on promoting young generations to enrich A better world.</p>
                    <div class="link">
                        <a class="read-link" routerLink="student-life">Read More</a> 
                    </div>
                </span>
                <span class="ori-p">
                    <h3 class="banner-header-2">Orientation and Accomodation</h3>
                    <p class="banner-p">MIT is Famous for its Prestigious Educartion System and a well known Diversity in Students. It can offer an enormous amount of lifelong Opportunities as well as good lifestyles to the student as it is based on promoting young generations to enrich A better world.</p>
                    <div class="link">
                        <a class="read-link" routerLink="student-life">Read More</a> 
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="lifestyle pt">
        <div class="container">
            <div class="row">
                <div class="banner-header">
                  <h3 class="lifestyle-header pl">Student Lifestyle</h3>
                  <p class="lifestyle-content pl">MIT offers its student not only a good Education but also precious life Lessons and great Morality</p>
              </div>
          </div>
          </div>
        <div class="container "> 
            <div class="row justify">
            <div class="col-sm-4 card-3">
                <img src=".../assets/img/student-life/6.jpg" id="photo" width="100%" height="50%" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Worship and Spirtuality</a></h5>
                </span></div>
            <div class="col-sm-4 card-3">
                <img src=".../assets/img/student-life/consulting-cafe.jpg" id="photo" width="100%" height="50%" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Student Council</a></h5>
                </span>
            </div>
            <div class="col-sm-4 card-3">
                <img src=".../assets/img/student-life/44.jpg" id="photo" width="100%" height="50%" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Chaplain Office</a></h5>
                </span>
            </div>
            </div>
        </div>
        <div class="container"> 
            <div class="row justify">
            <div class="col-sm-4 card-3">
                <img src=".../assets/img/student-life/35.png" id="photo" width="100%" height="50%" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Campaign and Activities</a></h5>
                </span>
                </div>
            <div class="col-sm-4 card-3">
                <img src=".../assets/img/student-life/40.png" id="photo" width="100%" height="50%" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Scholarship Programs</a></h5>
                </span>
            </div>
            <div class="col-sm-4 card-3 ">
                <img src=".../assets/img/student-life/27.png" id="photo" width="100%" height="50%" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Other Programs and Informations</a></h5>
                </span>
            </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mission">
        <h3 class="mission-header">Our Mission</h3>
        <p class="mission-p">To provide learner-centered education <br>and research that empowered our youth<br> to forge a better world.</p>
    </div>

    <div class="footer"></div>
</div>
