<section id="showcase" class="d-flex align-items-end">
    <div id="textbox" class="container text-white text-center">
        <h2 id="headTitle" class="mb-0">Meet Our Faculty and Staff</h2>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <div class="d-flex container-fluid justify-content-around pt-5 pb-2">
            <div class="col-md-5 ms-3 f-25 text-theme">
                <a class="mb-0 font-bc text-theme fw-7">About MIT</a> / <a class="font-bc text-theme fw-7">Meet Our Staffs</a>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <h1 class="text-header text-theme my-5">Officers of Myanmar Institute of Theology</h1>
        </div>
        <div class="container-fluid mb-3" >
            <div class="d-flex justify-content-center">
                <a class="text-center pt-5 text-decoration-none" id="tr">
                    <img class="rounded-5 theme-border rect-img ob-cover ob-position1" src=".../../assets/img/meet-our-staff/SamuelNgunLing.jpg" alt="">
                    <div class="d-flex flex-column p-3" style="display: inline-block;">
                        <h5 class="font-bc f-25 text-center text-theme">President</h5>
                        <h1 class="fw-7 f-25 text-dark font-bc mt-1 text-center">REV. DR. SAMUEL NGUN LING</h1>
                    </div>
                </a>
            </div>
            <div class="row mt-1">
                <div class="d-flex col-md-6 justify-content-evenly">
                    <a class="text-center pt-5 text-decoration-none" id="tr">
                        <img class="rounded-5 theme-border rect-img ob-cover ob-position1" src=".../../assets/img/meet-our-staff/EhTarGay.jpg" alt="">
                        <div class="d-flex flex-column p-3" style="display: inline-block;">
                            <h5 class="font-bc f-25 text-center text-theme">Vice President</h5>
                            <h1 class="fw-7 f-25 text-dark font-bc mt-1 text-center">DR. NAW EH TAR GAY</h1>
                        </div>
                    </a>
                </div>
                <div class="d-flex col-md-6 justify-content-evenly">
                    <a class="text-center pt-5 text-decoration-none" id="tr">
                        <img class="rounded-5 theme-border rect-img ob-cover ob-position1" src=".../../assets/img/meet-our-staff/Augurlion.jpg" alt="">
                        <div class="d-flex flex-column p-3" style="display: inline-block;">
                            <h5 class="font-bc f-25 text-center text-theme">Academic Dean</h5>
                            <h1 class="fw-7 f-25 text-dark font-bc mt-1 text-center">REV. DR. SAW AUGURLION</h1>
                        </div>
                    </a>
                </div>
                <div class="row mt-2 pb-5">
                    <div class="d-flex col-md-4 justify-content-evenly">
                        <a class="text-center pt-5 text-decoration-none" id="tr">
                            <img class="rounded-5 theme-border rect-img ob-cover ob-position1" src=".../../assets/img/meet-our-staff/MangTungThang.jpg" alt="">
                            <div class="d-flex flex-column p-3" style="display: inline-block;">
                                <h5 class="font-bc f-25 text-center text-theme">Dean of Liberal Arts<br>Program</h5>
                                <h1 class="fw-7 f-25 text-dark font-bc mt-1 text-center">REV. MANG TUNG THANG</h1>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex col-md-4 justify-content-evenly">
                        <a class="text-center pt-5 text-decoration-none" id="tr">
                            <img class="rounded-5 theme-border rect-img ob-cover ob-position1" src=".../../assets/img/meet-our-staff/MLaRip.jpg" alt="">
                            <div class="d-flex flex-column p-3" style="display: inline-block;">
                                <h5 class="font-bc f-25 text-center text-theme">Dean of Students,<br>Theology Program</h5>
                                <h1 class="fw-7 f-25 text-dark font-bc mt-1 text-center">REV. DR. M. LA RIP</h1>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex col-md-4 justify-content-evenly">
                        <a class="text-center pt-5 text-decoration-none" id="tr">
                            <img class="rounded-5 theme-border rect-img ob-cover ob-position1" src=".../../assets/img/meet-our-staff/SweMaung.jpg" alt="">
                            <div class="d-flex flex-column p-3" style="display: inline-block;">
                                <h5 class="font-bc f-25 text-center text-theme">Dean of Students,<br>Liberal Arts Program</h5>
                                <h1 class="fw-7 f-25 text-dark font-bc mt-1 text-center">SAYA SWE MAUNG</h1>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>

<section>
    <div class="container-fluid d-flex justify-content-center">
        <h1 class="text-header text-theme my-5">Faculty Members from Theology Program</h1>
    </div>
    <div class="container-xl d-flex justify-content-center pb-5">
        <div class="row w-900">
            <table class="w-100 text-center f-19">
                <tr class="fw-8">
                    <td>No.</td>
                    <td>Name</td>
                    <td>Position</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">01.</td>
                    <td class="font-bc">REV. DR. L. AWNG LI</td>
                    <td class="font-bc">Head of Theology Department</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">02.</td>
                    <td class="font-bc">DR. LILY KADOE</td>
                    <td class="font-bc">Head of History and Mission Department</td>
                </tr>
                <tr class="f-17">
                    <td class="font-bc">03.</td>
                    <td class="font-bc">REV. DR. VAN ZING</td>
                    <td class="font-bc">Head of Practical Theology Department</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">04.</td>
                    <td class="font-bc">SAYAMA KAY THI HTWE</td>
                    <td class="font-bc">Head of Biblical Studies Department</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-fluid d-flex justify-content-center">
        <h1 class="text-header text-theme my-5">Faculty Members from LAP</h1>
    </div>
    <div class="container-xl d-flex justify-content-center pb-5">
        <div class="row w-900">
            <table class="w-100 text-center f-19">
                <tr class="fw-8">
                    <td>No.</td>
                    <td>Name</td>
                    <td>Position</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">01.</td>
                    <td class="font-bc">SAYA YE WUNNA</td>
                    <td class="font-bc">Head of Business Studies Department</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">02.</td>
                    <td class="font-bc">DR. S' JOSEPH</td>
                    <td class="font-bc">Head of Community Development Studies Department</td>
                </tr>
                <tr class="f-17">
                    <td class="font-bc">03.</td>
                    <td class="font-bc">SAYA MIN LATT</td>
                    <td class="font-bc">Head of Computer Studies Department</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">04.</td>
                    <td class="font-bc">SAYA HTOO HTOO WAH</td>
                    <td class="font-bc">Head of English Department</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">05.</td>
                    <td class="font-bc">SAYAMA SALLY AUNG</td>
                    <td class="font-bc">Head of Music Department</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">06.</td>
                    <td class="font-bc">SAYA SWE MAUNG</td>
                    <td class="font-bc">Head of Religion Department</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">07.</td>
                    <td class="font-bc">DR. PAW LAR SAY</td>
                    <td class="font-bc">Head of Social Studies Department</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-fluid d-flex justify-content-center">
        <h1 class="text-header text-theme my-5">Library Staffs</h1>
    </div>
    <div class="container-xl d-flex justify-content-center pb-5">
        <div class="row w-900">
            <table class="w-100 text-center f-19">
                <tr class="fw-8">
                    <td>No.</td>
                    <td>Name</td>
                    <td>Position</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">01.</td>
                    <td class="font-bc">THRA KLO HTOO</td>
                    <td class="font-bc">Librarian</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">02.</td>
                    <td class="font-bc">SAYAMA NWE NI HLA</td>
                    <td class="font-bc">Associate Librarian</td>
                </tr>
                <tr class="f-17">
                    <td class="font-bc">03.</td>
                    <td class="font-bc">THRAMU DELLA PO</td>
                    <td class="font-bc">Assistant Librarian</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">04.</td>
                    <td class="font-bc">SAYAMA WAH WAH CHIT</td>
                    <td class="font-bc">Archivist</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-fluid d-flex justify-content-center">
        <h1 class="text-header text-theme my-5">Staffs Members</h1>
    </div>
    <div class="container-xl d-flex justify-content-center pb-5">
        <div class="row w-900 pb-3">
            <table class="w-100 text-center f-19">
                <tr class="fw-8">
                    <td>No.</td>
                    <td>Name</td>
                    <td>Position</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">01.</td>
                    <td class="font-bc">SAYAMA NAW EVER GREEN</td>
                    <td class="font-bc">Office Superintendent</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">02.</td>
                    <td class="font-bc">SAYAMA CHARITY BILL</td>
                    <td class="font-bc">Associate Dean of LAP</td>
                </tr>
                <tr class="f-17">
                    <td class="font-bc">03.</td>
                    <td class="font-bc">SAYA SAU YAW</td>
                    <td class="font-bc">Assistant Registrar</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">04.</td>
                    <td class="font-bc">SAYA SAW MYO CHIT</td>
                    <td class="font-bc">MIT AA Secretary (Theology)</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">05.</td>
                    <td class="font-bc">SAYA KYAR LEH</td>
                    <td class="font-bc">MIT AA Assistant Secretary (LAP)</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">06.</td>
                    <td class="font-bc">SAYAMA SUE PAW</td>
                    <td class="font-bc">Assistant to Continuing Education Office</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">07.</td>
                    <td class="font-bc">SAYA ALAN SOE</td>
                    <td class="font-bc">Property Supervisor</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">08.</td>
                    <td class="font-bc">SAYAMA HSU MON NAING</td>
                    <td class="font-bc">Coordinator, Service Learning Program, LAP</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">09.</td>
                    <td class="font-bc">SAYAMA MAY ZAR MAW</td>
                    <td class="font-bc">Treasurer</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">10.</td>
                    <td class="font-bc">SAYAMA MAY PAW</td>
                    <td class="font-bc">Registrar</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section id="bottomShowCase" class="d-flex align-items-end">
</section>