<div class="d-flex justify-content-center align-items-center theme-border">
    <div class="container-fluid mx-5 mt-4">
        <h3 class="font-bc text-header text-theme">Business Major</h3>
        <p class="font-bc f-20 td-5 text-align-justify">Business Studies is one of the fastest growing majors in the Liberal Arts Program of Myanmar Institute of Theology. The department hopes to provide qualified human resource that will fill the country’s need. Even now, LAP business major graduates are demanded by various sectors especially in NGOs and private sector.</p>
        <h3 class="font-bc text-header text-theme mt-5">The Following Subjects are Available in Business Major</h3>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">First Year (Compulsory)</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Introduction to Business</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The course introduces students to topics that specifically focus on today business climate and current management trends. The concepts and topics are designed to cover basics knowledge about managing and operating a business. The topics cover such diverse areas as Business Activities, Economics Basics, Types of Business Ownership, Management functions, and recent Management trends. Moreover, through field assignments, the course allows students to have exposure for the real-world business environments. This course introduce the students the basic role of businesses in contemporary society.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Second Year of Business</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Introduction to Business</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The course introduces students to topics that specifically focus on today business climate and current management trends. The concepts and topics are designed to cover basics knowledge about managing and operating a business. The topics cover such diverse areas as Business Activities, Economics Basics, Types of Business Ownership, Management functions, and recent Management trends. Moreover, through field assignments, the course allows students to have exposure for the real-world business environments. This course introduce the students the basic role of businesses in contemporary society.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Business Statistics</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course is an introductory course in statistics intended for students in a wide variety of areas of study. Topics discussed include displaying and describing data, probability, statistical inference, and hypothesis tests with applications in the real world. Students also have the opportunity to analyze data sets prepared by the instructor(s).</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Principles of Management</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The study of Management Essential enables the comprehension of soft-skills within commerce. Aside from understanding the core principles of management as a study, you will learn how to effectively comprehend, position, and deliver messages within various disciplines. This foundation will enable a more practical application of material within courses business and management.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Business Accounting I</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The course introduces students to business accounting which is the systematic process of recording and reporting the financial position of an organization. Since accounting systems are designed to collect, record, and report financial transactions that affect the operation of a business. This course, emphasizing rudimentary accounting concepts, offer students to learn accounting concepts relating to current assets, long-term assets, current liabilities, payroll and the operations of corporation.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Business Communication</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The study of Business Communication enables the comprehension of soft-skills within commerce. Aside from understanding the core principles of Business Communications as a study, students will learn how to effectively comprehend, position, and deliver messages within various disciplines. Developing excellent communication skills is extremely important to student's future career success, whether he or she is already working or are about to enter today's workplace. According to many researches, communication skills are critical to effective job placement performance, career advancement and organizational success. Among them communication skills are the most-requested competencies. Communication skills include writing, reading, listening, non-verbal, and speaking skills.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Introduction to International</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course provides understanding the ways and means of managing the multinational businesses across border and around the world. This course is designed to give students a fundamental understanding of the environment in which international business operates and of the business practices required to complete successfully in global market.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">07 : Business Management</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course provides understanding the ways and means of managing the multinational businesses across border and around the world. This course is designed to give students a fundamental understanding of the environment in which international business operates and of the business practices required to complete successfully in global market.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Third Year of Business</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Introduction to Business Research</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The course highlights the basics research principles in Qualitative, Quantitative, and Mixed Methods approaches. It also offers students to learn ethical considerations in conducting business researches, business research designs and frameworks, analyzing and presenting of results.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Human Resource Management</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">In this course, students are expected to learn management principles of the most valuable asset of organizations, Human. Human resource management is a matching process, integrating the organization's goals with employees' needs. In this light, and in fiercely competitive marketplaces, it is crucial for organizations to attract an effective workforce, develop the workforce to its potential, and maintain the workforce over the long term, to reach organizational goals.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Marketing Essential</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course introduces contemporary marketing concepts to help students prepare to operate effectively in their respective occupations. In addition, by using concepts and useful tools, the course is designed to develop decision-making skills in marketing. Case studies of real world marketing problems provide an opportunity for those vital concepts and tools to be employed in practice. Creating and venturing new markets and finding new customers are key challenges for most businesses. It is especially important to spend money effectively in reaching targeted customers of an organization. Regardless of whether a person intends to work for private businesses, or for public sector, of for non-profit organizations, the concepts, strategies, and techniques of effective marketing are relevant.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Business Accounting II</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">The continuing course in Business Accounting gives students the knowledge and proficiency in providing accounting information to the external users (i.e. investors and creditors). It includes study of the nature of accounting, accounting entries for business transactions, the accounting cycle, profit measurement, adjusting entries, owner's equity forms and reports of financial statements. Concepts and valuation of cash control, accounts receivable, inventory, fixed assets, and accounting for non-profit organizations.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Business Ethics and Law</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course provides analysis of ethical issues arising in contemporary business life and introduction to the legal system as it affects business activity. Business ethics is concerned with fair and unfair competition, responsibilities towards employees, society and the environment, honesty and integrity in business, the moral status of corporations. Through exhaustive case studies, ethical theories from teleological, deontological and virtue perspectives will be introduced and discussed. As an introduction of business law, principles of the law of contracts, agency relationships, intellectual property rights, and other necessities of the legal environment of Myanmar Business I will be discussed and analyzed. Emphasis is upon the law and business relationships.</p>
            </div>
        </details>
        <h3 class="font-bc f-30 fw-7 text-theme mt-5">Fourth Year of Business</h3>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">01 : Service Marketing</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course prepares students for enlightened management and suggests creative entrepreneurial opportunities in terms of service sector (the fastest-growing sector of the economy). Beginning with the service encounter, service managers must blend marketing, technology, people, and information to achieve a distinctive competitive advantage. This course will also focus the study of service marketing from an integrated viewpoint with a focus on customer satisfaction.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">02 : Organizational Behavior</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">In this course, students are expected to learn management principles of the most valuable asset of organizations, Human. Human resource management is a matching process, integrating the organization's goals with employees' needs. In this light, and in fiercely competitive marketplaces, it is crucial for organizations to attract an effective workforce, develop the workforce to its potential, and maintain the workforce over the long term, to reach organizational goals.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">03 : Project Management</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course guides students through fundamental project management concepts and behavioral skills needed to successfully launch, lead, and realize benefits from projects in profit and non- profit organizations.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">04 : Operation Management</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course provides knowledge on the principles and concepts of operations management which aimed to offer a balanced treatment in both quantitative and qualitative aspects of the subject. Students will gain better understanding from real world case studies. Applications of the topics learnt are also encouraged through semester project assignment. Moreover, the study of this subject will helps students to become a better decision maker because it helps themto develop not only "way of thinking" but also "managing their daily lives".</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">05 : Entrepreneurship</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course introduces general management principles for creating, establishing and maintaining small and medium businesses. Students will be introduced to the nature, characteristics and roles of entrepreneurs on both local and international scenes. The course is aimed to promote entrepreneurial spirit among students. To do this, the course offers innovative approaches and processes to new business start-ups, new ventures within larger organizations, as well as new venture planning, project management, and productivity improvement. Cases and projects will be used to apply these concepts and strategies.</p>
            </div>
        </details>
        <details>
            <summary id="dropdownInfo" class="d-flex justify-content-center border-grey py-3">
                <div class="border-0 bg-none w-100 d-flex justify-content-between">
                    <p class="pl-3 mb-0 ml-5 font-bc f-30">06 : Strategic Management</p>
                    <div class="d-flex align-items-center me-3 pt-3">
                        <fa-icon [icon]="faChevronDown" class="fa-lg"></fa-icon>
                    </div>
                </div>
            </summary>
            <div id="collapseInfo" class="d-flex justify-content-center border-grey-right border-grey-left border-grey-btn">
                <p class="font-bc f-20 td-5 px-5 py-3 m-0 text-align-justify">This course offers discussion for developing Strategic Management activities, and capabilities drawn from the experiences of leading companies as well as theories, and covers a wide range of critical issues. It provides comprehensive discussion of the subject as an integral part of the organization and practices.</p>
            </div>
        </details>     
        <br><br>
    </div>
</div>