<section id="showcase" class="d-flex align-items-end">
    <div id="textbox" class="container text-white text-center">
        <h2 id="headTitle" class="mb-0">Events And Campaign</h2>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <div class="d-flex container-fluid justify-content-around pt-5 pb-2">
            <div class="col-md-5 ms-3 f-25 text-theme">
                <u><a class="mb-0 font-bc text-theme fw-7">About MIT</a> / <a class="font-bc text-theme fw-7">Public Events</a></u>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="d-flex container-fluid pb-5 justify-content-around align-items-center">
            <div class="col-md-5 ms-3">
                <h1 class="mb-0 text-header text-theme">Public Events and Campaign of MIT</h1>
                <p class="mb-0 f-25 mt-3 text-align-justify font-bc">
                    Myanmar Institute of Theology has several events for students as well as many public campaigns. These events and campaigns help the students grow their ethical behavior, moral practice as well as the ability of liberal thinking and communication with one another to produce a greater and better community and their respective society.
                </p>
            </div>
            <div class="col-md-5">
                <div class="ps-5"><img id="applyImage" width="550" height="480" src=".../../assets/img/public-events/campaign.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
<div class="container-xl py-2">
    <div class="head_title my-4">
        MIT Special Days and Events
    </div>    
</div>
</section>

<section>
<div class="container-xl pt-2">
    <div class="row">
        <div class="col-sm-4">
            <img src=".../../assets/img/public-events/music.png" width=100%>
            <div class="s_text_box">
            <div class="s_container">
                
            <div class="head_title2">Music (Choir)</div>
            <p class="font-bc f-19">One of the best known features of the MIT is its Choir. There is a special music program every year such as Christmas Cantata in December</p>
            <a class=" d-flex justify-content-end" routerLink="/not-available">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src=".../../assets/img/public-events/sports.png" width=100%>
            <div class="s_text_box">
                <div class="s_container">
                    <div class="head_title2">Sports</div>
                    <p class="font-bc f-19">Students have an option to take part in sports such as soccer, table tennis, volleyball, and Pike-Kyaw chin (Cane Ball).</p>
                    <a class=" d-flex justify-content-end" routerLink="/not-available">
                        <div class="buton">
                            See More
                        </div> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src=".../../assets/img/public-events/health.png" width=100%>
            <div class="s_text_box">
                <div class="s_container">
            <div class="head_title2">Health</div>
            <p class="font-bc f-19">The School arranges medical checkup and eyes tests for all MIT Students as the school campus is close to one of the private Hospital.</p>
            <a class=" d-flex justify-content-end" routerLink="/not-available">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
            <div class="d-flex justify-content-center">
                <div class="col-sm-8">
                    <div class="d-flex justify-content-center">
                        <div class="m_container">
                            <table cellpadding="15px">
                                <tr>
                                    <td><img src=".../../assets/img/public-events/fun-fete.png" class="img_m"></td>
                                    <td>
                                        <div class="ps-5">
                                            <div class="head_title2">Fun - Fete</div>
                                            <div class="limit-width">
                                                <p class="font-bc f-19">In December, MIT holds its Annual Fun - Fete. This is partly to raise funds for the schools but the principle aim is to develop the leadership and organizational qualities of its students as well as to instill in them the sense of sharing responsibilities, working in unity and having fellowship and understanding towards one another.</p>
                                            </div>
                                            <a class=" d-flex justify-content-end" routerLink="/not-available">
                                                <div class="buton">
                                                    See More
                                                </div> 
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="row mt-5 pb-5">
        
        <div class="col-sm-4">
            <img src=".../../assets/img/public-events/lapFamily.png" width=100%>
            <div class="s_text_box">
            <div class="s_container">
            <div class="head_title2">LAP Family Day</div>
            <p class="font-bc f-19">LAP Family Day is usually help every year for fellowship among LAP faculty, staff and students.</p>
            <a class=" d-flex justify-content-end" routerLink="/not-available">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src=".../../assets/img/public-events/MIT Prayer.png" width=100%>
            <div class="s_text_box">
                <div class="s_container">
            <div class="head_title2">MIT Prayer Day</div>
            <p class="font-bc f-19">This event is held on the First Friday of July. It is a day for faculty, staff and students to unite in prayer for the concern of the community.</p>
            <a class=" d-flex justify-content-end" routerLink="/not-available">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src=".../../assets/img/public-events/MIT Day.png" width=100%>
            <div class="s_text_box">
            <div class="s_container">
            <div class="head_title2">MIT Day</div>
            <p class="font-bc f-18">The third Sunday in September is Designated as MIT day by Myanmar Baptist Convention. The donation collected from this event is given to MIT.</p>
            <a class=" d-flex justify-content-end" routerLink="/not-available">
                <div class="buton">
                    See More
                </div> 
            </a>
            </div>
            </div>
        </div>
        
    </div>
</div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
            <div class="col-md-5 ps-5">
                <div id="applyImageBox"><img id="whyapplyImage" width="650" height="350" src=".../../assets/img/public-events/fellowship.png" alt=""></div>
            </div>
            <div class="col-md-6 pe-5">
                <h1 class="mb-0 text-header text-theme">Other Fellowships</h1>
                <p class="mb-0 mt-3 text-align-justify f-25 font-bc">
                    Many ethnic and religious groups represented at MIT provide diversity and color to student life. However, any social group / club / fellowship are to be formed only with the permission of the school. Existing groups are required to register with the school.
                </p>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section id="bottomShowCase" class="d-flex align-items-end">
</section>