<section id="showcase" class="d-flex align-items-end">
    <div id="textbox" class="container text-white text-center">
        <h2 id="headTitle" class="mb-0">Reference Resources</h2>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-fluid d-flex justify-content-center">
        <h1 class="text-header text-theme my-5">Information Related to MIT</h1>
    </div>
    <div class="container-xl d-flex justify-content-center pb-5">
        <div class="row w-900 pb-3">
            <table class="w-100 text-center f-19">
                <tr class="fw-8">
                    <td>No.</td>
                    <td>Name</td>
                    <td>Position</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">01.</td>
                    <td class="font-bc">Staff Lists</td>
                    <td class="font-bc">MIT Student Hand Book (LAP, 2020-2021)</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">02.</td>
                    <td class="font-bc">General Information</td>
                    <td class="font-bc">MIT Student Hand Book (LAP, 2020-2021)</td>
                </tr>
                <tr class="f-17">
                    <td class="font-bc">03.</td>
                    <td class="font-bc">Department Information</td>
                    <td class="font-bc">MIT Student Hand Book (LAP, 2020-2021)</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">04.</td>
                    <td class="font-bc">Student Life</td>
                    <td class="font-bc">Research</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">05.</td>
                    <td class="font-bc">LAP Academic Information</td>
                    <td class="font-bc">MIT Student Hand Book (LAP, 2020-2021)</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">06.</td>
                    <td class="font-bc">Events</td>
                    <td class="font-bc">MIT Student Hand Book (LAP, 2020-2021)</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">07.</td>
                    <td class="font-bc">School Fees</td>
                    <td class="font-bc">MIT Student Hand Book (LAP, 2020-2021)</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">08.</td>
                    <td class="font-bc">LAP Majors and Subject</td>
                    <td class="font-bc">Course Description</td>
                </tr>
                <tr class="f-18">
                    <td class="font-bc">09.</td>
                    <td class="font-bc">Theology Information</td>
                    <td class="font-bc">MIT Facebook Page & Tr. Aye Myat Maw</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section id="bottomShowCase" class="d-flex align-items-end">
</section>