<div class="home">
  <!--banner-->
    <section class="banner">
      <div class="hero">
        <p class="hero-header">Myanmar Institute of<br> Theology</p>
        <p class="hero-quote">Respect Diversity, Enhance Commonality</p>
    </div>
      <div>
        <button class="click px-3 py-2"><a routerLink="/about-mit">Explore History</a></button>
      </div>
  </section>
  <hr class="p-0 m-0">
  <!--2 Programs-->
  <div class="header-1 text pt">Your Pathway to Main Programs</div><br>
  <div class="container-xl">
      <div class="d-flex container-fluid justify-content-around">
        <div class="col-md-5">
          <h4 class="header-2 text">Theology Program</h4><br>
          <p class="f-size ff-c">MIT is Famous for its Prestigious Educartion System and a well known Diversity in Students. It can offer an enormous amount of lifelong Opportunities as well as good lifestyles to the student as it is based on promoting young generations to enrich A better world.</p><br>
          <div class="text">
            <button  id="read"><a routerLink="/not-available">Read More</a></button>
          </div><br><br>
        </div>
        <div class="col-md-5">
          <h5 class="header-2 text">Liberal Art Program</h5><br>
          <p class="f-size ff-c">MIT is Famous for its Prestigious Educartion System and a well known Diversity in Students. It can offer an enormous amount of lifelong Opportunities as well as good lifestyles to the student as it is based on promoting young generations to enrich A better world.</p><br>
          <div class="text">
            <button  id="read"><a routerLink="/program/lap">Read More</a></button>
          </div><br>
        </div>
      </div>
  </div>
  <hr class="p-0 m-0">
  <!--3 Cards -->
  <div class="container-xl align text pt"> 
      <div class="d-flex justify-content-between card-p">
        <div class="col-md-3 banner-card ">
          <img src=".../../assets/img/home/42.png" class="card-photo" width="100%" id="card-photo-1" alt="photo">
          <span class="content-text">
            <h5 class="header_3">Academic Buildings</h5>
            <p class="card-text">Use this section to talk about the characteristics of each of the listed items.</p>
          </span>
        </div>
        <div class="col-md-3 banner-card">
          <img src=".../../assets/img/home/37.png" class="card-photo" width="100%" id="card-photo-2" alt="photo">
          <span  class="content-text">
            <h6 class="header_3">Student Accomodation</h6>
            <p class="card-text">Use this section to talk about the characteristics of each of the listed items.</p>
          </span>
        </div>
        <div class="col-md-3 banner-card">
          <img src=".../../assets/img/home/38.png" class="card-photo" width="100%" id="card-photo-3" alt="photo">
          <span  class="content-text">
            <h6 class="header_3">Resourses and Recreation</h6>
            <p class="card-text">Use this section to talk about the characteristics of each of the listed items.</p>
          </span>
        </div>
      </div>
  </div>
  <hr class="p-0 m-0">
  <!--About MIT-->
  <div class="container-xl pt mb-5"> 
    <div class="row d-flex justify-content-around">
      <div class="col-md-5">
        <img src=".../../assets/img/home/37.png" id="banner_2" width="100%" alt="photo">
      </div>
      <div class="col-md-5">
          <h3 class="header_4">About Myanmar<br> Institute of <br>Theology</h3><br>
            <p class="banner_2-text ff-c">Established in June, 1927, Myanmar Institute of Theology has long been a home to critical thinking, progressive education, and a conscientious community. This private non-profit university is committed to pushing positive change and creating a caring world for everyone.</p>
        <div class="text-center">
          <button type="button" class="text" id="read" routerLink="/not-available"><a>Read More</a></button>
        </div>
      </div>
    </div>
  </div>
  <hr class="p-0 m-0">
  <!--News-->
  <div class="news pt mb-5">
    <div class="container-xl">
      <div class="row d-flex justify-content-around">
          <div class="banner-header ">
            <h3 class="header_5 pl">News and Activities</h3>
            <p class="news-text pl">Stay tuned to MIT news and activities as we are constantly updating the Information every once a week</p>
        </div>
    </div>
    </div>
     <div class="container-xl align text pt"> 
      <div class="row d-flex justify card-p">
        <div class="col-sm-4 banner-card_2">
          <button class="bg-none border-0 rounded-6">
            <img src=".../../assets/img/home/32.png" class="news-photo" alt="photo">
            <div class="content-text_2 d-flex align-items-center justify-content-center mt-3">
              <h5 class="header_6">School Events</h5>
            </div>
          </button>
        </div>
        <div class="col-sm-4 banner-card_2">
          <button class="bg-none border-0 rounded-6">
            <img src=".../../assets/img/home/43.png" class="news-photo" alt="photo">
            <div class="content-text_2 d-flex align-items-center justify-content-center mt-2">
              <h6 class="header_6">Announcements for Students</h6></div>
            </button>
          </div>
        <div class="col-sm-4 banner-card_2">
          <button class="bg-none border-0 rounded-6">
            <img src=".../../assets/img/home/30.png" class="news-photo" alt="photo">
            <div class="content-text_2 d-flex align-items-center justify-content-center mt-2">
              <h6 class="header_6">Summer School Programs</h6>
            </div>
          </button>
        </div>
      </div>
  </div>
  </div>
  <hr class="p-0 m-0">
  <!--footer-->
  <div class="footer">
  </div>
</div>