<div class="home">
  <!--banner-->
    <section class="banner">
      <div class="hero">
        <p class="hero-header">Myanmar Institute of<br> Theology</p>
        <p class="hero-quote">Respect Diversity, Enhance Commonality</p>
    </div>
      <div>
        <button class="click"><a href="#">Explore History</a></button>
      </div>
  </section>
  <!--2 Programs-->
  <div class="header-1 text pt">Your Pathway to Main Programs</div><br>
  <div class="container">
      <div class="row">
        <div class="col-sm-6 pl">
          <h4 class="header-2 text">Theology Program</h4><br>
          <p class="f-size">MIT is Famous for its Prestigious Educartion System and a well known Diversity in Students. It can offer an enormous amount of lifelong Opportunities as well as good lifestyles to the student as it is based on promoting young generations to enrich A better world.</p><br>
          <div class="text">
            <button  id="read"><a href="#">Read More</a></button>
          </div><br><br>
        </div>
        <div class="col-sm-6 pr">
          <h5 class="header-2 text">Liberal Art Program</h5><br>
          <p class="f-size">MIT is Famous for its Prestigious Educartion System and a well known Diversity in Students. It can offer an enormous amount of lifelong Opportunities as well as good lifestyles to the student as it is based on promoting young generations to enrich A better world.</p><br>
          <div class="text">
            <button  id="read"><a href="#">Read More</a></button>
          </div><br>
        </div>
      </div>
  </div>
  <!--3 Cards -->
  <div class="container align text pt"> 
      <div class="row justify card-p">
        <div class="col-sm-4 banner-card ">
          <img src=".../assets/img/home/42.png" class="card-photo" id="card-photo-1" alt="photo">
          <span class="content-text">
            <h5 class="header_3">Academic Buildings</h5>
            <p class="card-text">Use this section to talk about the characteristics of each of the listed items.</p>
          </span>
        </div>
        <div class="col-sm-4 banner-card">
          <img src=".../assets/img/home/37.png" class="card-photo" id="card-photo-2" alt="photo">
          <span  class="content-text">
            <h6 class="header_3">Student Accomodation</h6>
            <p class="card-text">Use this section to talk about the characteristics of each of the listed items.</p>
          </span>
        </div>
        <div class="col-sm-4 banner-card">
          <img src=".../assets/img/home/38.png" class="card-photo" id="card-photo-3" alt="photo">
          <span  class="content-text">
            <h6 class="header_3">Resourses and Recreation</h6>
            <p class="card-text">Use this section to talk about the characteristics of each of the listed items.</p>
          </span>
        </div>
      </div>
  </div>
  <!--About MIT-->
  <div class="container pt"> 
    <div class="row">
      <div class="col-sm-7 pl">
        <img src=".../assets/img/home/37.png" id="banner_2" width="100%" alt="photo">
      </div>
      <div class="col-sm-5 pr">
          <h3 class="header_4">About Myanmar<br> Institute of <br>Theology</h3><br>
            <p class="banner_2-text">Established in June, 1927, Myanmar Institute of Theology has long been a home to critical thinking, progressive education, and a conscientious community. This private non-profit university is committed to pushing positive change and creating a caring world for everyone.</p>
        <div class="text-center">
          <button type="button" class="text" id="read"><a href="#">Read More</a></button>
        </div>
      </div>
    </div>
  </div>
  <!--News-->
  <div class="news pt">
    <div class="container">
      <div class="row">
          <div class="banner-header pl">
            <h3 class="header_5 pl">News and Activities</h3>
            <p class="news-text pl">Stay tuned to MIT news and activities as we are constantly updating the Information every once a week</p>
        </div>
    </div>
    </div>
     <div class="container align text pt"> 
      <div class="row justify card-p">
        <div class="col-sm-4 banner-card_2">
          <img src=".../assets/img/home/32.png" class="news-photo" alt="photo">
          <span class="content-text_2">
            <h5 class="header_6">School Events</h5>
          </span></div>
        <div class="col-sm-4 banner-card_2">
          <img src=".../assets/img/home/43.png" class="news-photo" alt="photo">
          <span  class="content-text_2">
            <h6 class="header_6">Announcements for Students</h6></span>
        </div>
        <div class="col-sm-4 banner-card_2">
          <img src=".../assets/img/home/30.png" class="news-photo" alt="photo">
          <span  class="content-text_2">
            <h6 class="header_6">Summer School Programs</h6>
            </span>
        </div>
      </div>
  </div>
  </div>
  <!--footer-->
  <div class="footer">
  </div>
</div>