<div class="about-mit">
    <div class="banner">
        <div class="hero">
            <p class="banner-content">Why Study at Myanmar Institute of Theology?</p>
        </div>
    </div>
    <div class="container pt">
        <div class="row">
            <div class="col-sm-7 pl">
                <span>
                    <h2 class="header-1">Why You Should Choose MIT and What It Can Offer</h2>
                    <p class="content-1">This space gives you more room to expound on your message. Remember that writing effectively is an art. Start by using simple, everyday words people can easily understand. Be clear and direct to the point. Keep your thoughts flowing logically, and aim for brevity.</p>
                    <p  class="content-1">
                    Your ideas have a purpose, so choose words that accurately express them. Ensure your grammar is flawless as it impacts your credibility. Use the active voice whenever possible as it makes any narrative easier to read. 
                    </p>
                    
                </span>
            </div>
            <div class="col-sm-5 pr">
                <img src=".../../assets/img/about-mit/39.png" id="banner-1" alt="photo" width="100%" height="80%">
            </div>
        </div>
    </div>
    <div class="container pt">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="gallery">
                    <div class="card-1 card-photo-1"></div>
                    <div class="card-1 card-photo-2"></div>
                    <div class="card-1 card-photo-3"></div>
                    <div class="card-1 card-photo-4"></div>
                </div>    
        </div>
            <div class="col-sm-6">
                <span>
                    <h2 class="header-2">A Choice of Programs</h2>
                    <p class="content-2 pr" >You can choose from a range of start dates and course lengths. It depends on your academic level, when you are available, and which degree you want to study. Find out more about our Programs</p>
                    <div class="link pr">
                        <a href="#" id="link-content">Programs</a>
                    </div>                  
                </span>
            </div>
        </div>
    </div>
    <div class="container-fluid bg">
        <div class="row">
            <div class="col-sm-6 pl">
                <span>
                    <h3 class="header-3">
                        Goal of Myanmar<br>Institute of <br>Theology
                    </h3>
                    <p class="content-3">To become a premier Christian University in Myanmar and in Asia to provide quality higher education for all peoples regardless of race, religion, culture and gender on the basis of the Christian principles.</p>
                </span>
            </div>
            <div class="col-sm-6 pr">
                <img src=".../../assets/img/about-mit/33.png" id="banner-2" alt="photo" width="90%" height="100%">
            </div>
        </div>
    </div>
    <div class=" pt">
        <div class="container "> 
            <div class="row justify">
            <div class="col-sm-4 card-3">
                <img src=".../../assets/img/about-mit/20.png" class="photo" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Student Results</a></h5>
                </span></div>
            <div class="col-sm-4 card-3">
                <img src=".../../assets/img/about-mit/37.png" class="photo" id="card-photo-2" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Campus Facilities</a></h5>
                </span>
            </div>
            <div class="col-sm-4 card-3">
                <img src=".../../assets/img/about-mit/15.png" class="photo" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Meet Our Staffs</a></h5>
                </span>
            </div>
            </div>
        </div>
        <div class="container"> 
            <div class="row justify">
            <div class="col-sm-4 card-3">
                <img src=".../../assets/img/about-mit/36.png" class="photo" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Public Events</a></h5>
                </span>
                </div>
            <div class="col-sm-4 card-3">
                <img src=".../../assets/img/about-mit/34.png" class="photo" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">General Information</a></h5>
                </span>
            </div>
            <div class="col-sm-4 card-3 ">
                <img src=".../../assets/img/about-mit/consulting-cafe.jpg" class="photo" alt="photo">
                <span class="card-content">
                    <h5 class="content-4"><a href="#" id="card-link">Services and Supports</a></h5>
                </span>
            </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
