<div class="body">
    <section id="showcase" class="d-flex align-items-end">
        <div id="textbox" class="container text-white text-center">
            <h2 id="headTitle" class="mb-0">Meet The Developer Team</h2>
        </div>
    </section>
    <hr class="p-0 m-0">
    <section>
        <div class="container-fluid d-flex justify-content-center">
            <h1 class="text-header text-theme my-5">Welcome to Our Developer Team</h1>
        </div>
        <div class="container d-flex justify-content-center mb-5">
            <div class="container">
                <div class="d-flex container justify-content-around px-6">
                    <div class="d-flex container justify-content-around">
                        <img class="rounded-5 theme-border rect-img ob-cover ob-position1" src=".../../assets/img/developer-team/christopher.jpeg" alt="">
                        <div class="mt-5">
                            <h5 class="font-bc f-25 text-center color-none">Christopher Lone Toe</h5>
                            <h1 class="fw-7 f-25 text-theme mt-1 text-center">Head Project Manager, Team Leader</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mb-3" >
            <div class="d-flex justify-content-center">
                <a class="text-center pt-5 text-decoration-none" id="tr">
                    <img width="150" height="170" class="circle-img ob-cover" data-testid="profile-image" alt="" src=".../../assets/img/developer-team/sint aung.jpg">
                    <div class="d-flex flex-column p-3" style="display: inline-block;">
                        <h5 class="font-bc f-25 text-center color-none">Sint Aung</h5>
                        <h1 class="fw-7 f-25 text-theme mt-1 text-center">Associate Project Manager</h1>
                    </div>
                </a>
            </div>
            <div class="row mt-1">
                <div class="d-flex col-md-6 justify-content-evenly">
                    <a class="text-center pt-5 text-decoration-none" id="tr">
                        <img width="150" height="170" class="circle-img ob-cover" data-testid="profile-image" alt="" src=".../../assets/img/developer-team/isisah.jpeg">
                        <div class="d-flex flex-column p-3" style="display: inline-block;">
                            <h5 class="font-bc f-25 text-center color-none">Isisah</h5>
                            <h1 class="fw-7 f-25 text-theme mt-1 text-center">Resource Collector</h1>
                        </div>
                    </a>
                </div>
                <div class="d-flex col-md-6 justify-content-evenly">
                    <a class="text-center pt-5 text-decoration-none" id="tr">
                        <img width="150" height="170" class="circle-img ob-cover" data-testid="profile-image" alt="" src=".../../assets/img/developer-team/khine zar thwel.jpg">
                        <div class="d-flex flex-column p-3" style="display: inline-block;">
                            <h5 class="font-bc f-25 text-center color-none">Khine Zar Thwel</h5>
                            <h1 class="fw-7 f-25 text-theme mt-1 text-center">Documentarian</h1>
                        </div>
                    </a>
                </div>
                <div class="row mt-2 pb-5">
                    <div class="d-flex col-md-4 justify-content-evenly">
                        <a class="text-center pt-5 text-decoration-none" id="tr">
                            <img width="150" height="170" class="circle-img ob-cover" data-testid="profile-image" alt="" src=".../../assets/img/developer-team/allen htoo.jpg">
                            <div class="d-flex flex-column p-3" style="display: inline-block;">
                                <h5 class="font-bc f-25 text-center color-none">Allen Htoo</h5>
                                <h1 class="fw-7 f-25 text-theme mt-1 text-center">UI / UX Designer</h1>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex col-md-4 justify-content-evenly">
                        <a class="text-center pt-5 text-decoration-none" id="tr">
                            <img width="150" height="170" class="circle-img ob-cover" data-testid="profile-image" alt="" src=".../../assets/img/developer-team/Eaint Myat Noe Phyu.jpg">
                            <div class="d-flex flex-column p-3" style="display: inline-block;">
                                <h5 class="font-bc f-25 text-center color-none">Eaint Myat Noe Phyu</h5>
                                <h1 class="fw-7 f-25 text-theme mt-1 text-center">Web Development Team Leader</h1>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex col-md-4 justify-content-evenly">
                        <a class="text-center pt-5 text-decoration-none" id="tr">
                            <img width="150" height="170" class="circle-img ob-cover" data-testid="profile-image" alt="" src=".../../assets/img/developer-team/william Chain.jfif">
                            <div class="d-flex flex-column p-3" style="display: inline-block;">
                                <h5 class="font-bc f-25 text-center color-none">William Chain</h5>
                                <h1 class="fw-7 f-25 text-theme mt-1 text-center">Web Developer</h1>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    <hr class="p-0 m-0">
    <section id="bottomShowCase" class="d-flex align-items-end"></section>
</div>