<section id="showcase" class="d-flex align-items-end">
    <div id="textbox" class="container text-white text-center">
        <h2 id="headTitle" class="mb-0">How To Apply</h2>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
            <div class="col-md-5 ms-3">
                <h1 class="mb-0 text-header text-theme">Apply to Myanmar Institute of Theology</h1>
                <p class="mb-0 f-17 mt-3 text-align-justify">
                    You can apply to Myanmar Institute of Theology using our online form or through a local agent. You can start filling in the form today and save it for later if you don't have all the information available right now. You can also submit your supporting documents with your form. If you are applying through an agent, please contact them for an application form.
                    <br>When you apply with us directly our team of dedicated Student Enrolment Advisors will contact you once your application has been received and reviewed and they will guide you every step of the way until you arrive to study with us.
                </p>
            </div>
            <div class="col-md-5">
                <div id="applyImageBox"><img id="applyImage" width="550" height="480" src=".../../assets/img/how-to-apply/applyTo.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section class="bg-theme">
    <div class="container-xl py-2">
        <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
            <div class="col-md-5">
                <div id="applyImageBox"><img id="whyapplyImage" width="650" height="350" src=".../../assets/img/how-to-apply/whyYouShouldApply.png" alt=""></div>
            </div>
            <div class="col-md-5 pe-5">
                <h1 class="mb-0 text-header text-white">Why You Should Apply to MIT</h1>
                <p class="mb-0 mt-3 text-align-justify f-25 font-bc">
                    The objectives of Myanmar Institute of Theology include  producing competent and faithful young leaders and scholars at national and international levels. Moreover,  it has so much networking with universities, colleges and other academic institutions within and outside Myanmar. Those who love adventures, challenges and so on, will easily be fit into the atmosphere of the School.
                </p>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <h1 class="text-header text-theme mt-4 mb-0 ml-5">Entry Information</h1>
        <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
            <div class="col-md-5" id="entryBox">
                <div class="w-100">
                    <img class="w-100" width="380" height="310" src=".../../assets/img/how-to-apply/financialSupport.png" alt="">
                    <div class="theme-border">
                        <div class="p-4">
                            <h5 class="f-25 fw-7 mb-0 text-theme">Financial Support</h5>
                            <p class="f-20 mt-3 text-align-justify">Our free support service guides you every step of the way, from pre-application to pre-arrival. Read about Admission Support</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5" id="entryBox">
                <div class="w-100">
                    <img class="w-100" width="380" height="310" src=".../../assets/img/how-to-apply/entryRequirement.png" alt="">
                    <div class="theme-border">
                        <div class="p-4">
                            <h5 class="f-25 fw-7 mb-0 text-theme">Admission Requirement</h5>
                            <p class="f-19 entry-text mt-3 text-align-justify">Use our online application form to start your study journey with us today. You can save the form and come back to it if you need more time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-2">
        <h1 class="text-header text-theme mt-5 ml-4">Becoming A Student</h1>
        <div class="d-flex container-fluid py-5 justify-content-around align-items-center">
            <div class="col-md-3" id="becomeBox">
                <div class="">
                    <img id="feesImg" width="352" height="200" src=".../../assets/img/how-to-apply/fees.jpg" alt="">
                    <div class="mt-3">
                        <h5 class="font-bc f-25 fw-7 mb-0 text-theme">Fees</h5>
                        <p class="f-15 entry-text mt-3 text-align-justify">There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
                        <button type="button" class="btn-theme">See More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="becomeBox">
                <div class="">
                    <img id="feesImg" width="352" height="200" src=".../../assets/img/how-to-apply/howToPay.png" alt="">
                    <div class="mt-3">
                        <h5 class="font-bc f-25 fw-7 mb-0 text-theme">How to Pay</h5>
                        <p class="f-15 entry-text mt-3 text-align-justify">There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
                        <button type="button" class="btn-theme">See More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="becomeBox">
                <div class="">
                    <img id="feesImg" width="352" height="200" src=".../../assets/img/how-to-apply/applyNow.jpg" alt="">
                    <div class="mt-3">
                        <h5 class="font-bc f-25 fw-7 mb-0 text-theme">Apply Now</h5>
                        <p class="f-15 entry-text mt-3 text-align-justify">There is just enough space here for several lines of text. Make sure you get your message across clearly yet concisely.</p>
                        <button type="button" class="btn-theme">See More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section id="bottomShowCase" class="d-flex align-items-end">
</section>