<section id="showcase" class="d-flex align-items-end">
    <div id="textbox" class="container text-white text-center">
        <h2 id="headTitle" class="mb-0">Entry Requirements</h2>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl py-5">
        <div class="d-flex container-fluid justify-content-around py-5">
            <div class="col-md-5 ms-3 f-19 text-theme">
                <a class="mb-0 ff-c text-theme fw-7">How to apply</a> / <a class="ff-c text-theme fw-7">Entry Requirements</a>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="d-flex container-fluid justify-content-around align-items-center">
            <div class="col-md-5">
                <div id="payImageBox"><img id="payImage" width="550" height="480" src=".../../assets/img/entry-requirement/entry.png" alt=""></div>
            </div>
            <div class="col-md-5">
                <h1 class="mb-0 text-header text-theme pb-5">Entry Requirements for Liberal Arts Program</h1>
                <p class="mb-0 f-21 text-align-justify ff-c">
                    Anyone regardless of religion, faith, age, race and gender who has the following criteria is eligible to apply for Bachelor Degree Program.
                </p>
                <ol class="text-align-justify ff-c">
                    <li><span class="f-21 ff-c">Matriculation passed (A List) or an equivalent qualification (Agricultural/Technical High School passed); GCE 'O' level passed.</span></li>
                    <li><span class="f-21 ff-c">Three-hour English test (Entrance examination passed)</span></li>
                    <li><span class="f-21 ff-c">be of good health (An up-to-date Medical Report)</span></li>
                </ol>
            </div>
            
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section class="bg-theme">
    <div class="container-xl">
        <div class="container-fluid justify-content-around py-5 mx-5">
            <h1 class="mb-0 text-header text-white">Application Form Information for Liberal Arts Program</h1><br>
            <ol class="text-align-justify ff-c mr-90">
                <li><span class="f-21 ff-c">Application forms are available at LAP Office starting from May.</span></li>
                <li><span class="f-21 ff-c">Deadline for application is the last Friday of August, 5:00 PM every year.</span></li>
                <li><span class="f-21 ff-c">Entrance exam will be held on Saturday, the second week of September.</span></li>
                <li><span class="f-21 ff-c">One recommendation from teacher/principal of the community or advisor. The person recommending must not be from one's family. (Form attached; Official seal required)</span></li>
                <li><span class="f-21 ff-c">One recommendation from pastor/elder of the community or advisor. The person recommending must not be from one's family. (Form attached; Official seal required)</span></li>
                <li><span class="f-21 ff-c">To submit Photo-copy of Matriculation Certificate and to produce the Original Certificate at the Office for Entrance Examination.
                </span></li>
                <li><span class="f-21 ff-c">To submit Photo-copy of Official Matriculation Transcript (Marks) and to produce the Original for Entrance Examination.</span></li>
                <li><span class="f-21 ff-c">One page essay on “My Life” which should include information about your family, home,  school, hobbies and activities.</span></li>
                <li><span class="f-21 ff-c">Two recent passport size photos (taken within six months)</span></li>
            </ol>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section>
    <div class="container-xl">
        <div class="d-flex container-fluid justify-content-around py-5">
            <div class="col-md-5 ms-3">
                <h1 class="mb-0 text-header text-theme pb-5 text-center mt-5">Academic Year</h1>
                <p class="f-28 ff-c"><span class="fw-7">First Semester : </span>October - March<br>4:30/5:00 PM-8:00PM</p>
                <p class="f-28 ff-c"><span class="fw-7">Second Semester : </span>May - September<br>4:30/5:00 PM-8:00PM</p>
            </div>
            <div class="col-md-4">
                <div class=" container-fluid justify-content-around py-5">
                    <div class="card-1" id="semester-photo-1"></div>
                    <div class="card-1" id="semester-photo-2"></div>
                    <div class="card-1" id="semester-photo-3"></div>
                    <div class="card-1" id="semester-photo-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="p-0 m-0">
<section id="bottomShowCase" class="d-flex align-items-end">
</section>
